<a href="https://colab.research.google.com/github/DmitryKutsev/cross-document_coreference/blob/main/classifiers/new_decision_tree_and_regr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [54]:
from IPython.display import SVG, display, HTML

In [55]:
from google.colab import drive
drive.mount('./content', force_remount=False)

Drive already mounted at ./content; to attempt to forcibly remount, call drive.mount("./content", force_remount=True).

In [56]:
!ls
import os
for i in os.listdir('content/'):
  print(i)

content  coref_df_anns60k.csv  new_anns60k.csv	new_df_anns60k.csv  sample_data
MyDrive
.shortcut-targets-by-id
.file-revisions-by-id
.Trash

In [57]:
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/coref_df_anns60k.csv
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/new_anns60k.csv

--2021-05-19 21:23:32--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/coref_df_anns60k.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1162863 (1.1M) [text/plain]
Saving to: ‘coref_df_anns60k.csv.1’

coref_df_anns60k.cs 100%[===================>]   1.11M  --.-KB/s    in 0.02s

2021-05-19 21:23:32 (60.2 MB/s) - ‘coref_df_anns60k.csv.1’ saved [1162863/1162863]

--2021-05-19 21:23:32--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/new_anns60k.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1191793 (1.1M) [text/plain]
Saving to: ‘new_anns60k.csv.1’

new_anns60k.csv.1   100%[===================>]   1.14M  --.-KB/s    in 0.02s

2021-05-19 21:23:32 (70.7 MB/s) - ‘new_anns60k.csv.1’ saved [1191793/1191793]

In [58]:
import csv
import re
from google.colab import files
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

In [59]:
# with open('coref_df_anns60k.csv') as csvfile:
with open('new_anns60k.csv') as csvfile:
  reader = csv.reader(csvfile, delimiter='\t')
  with open('new_df_anns60k.csv', 'w') as write_file:
    writer = csv.writer(write_file, delimiter='\t')
    c = 0
    for row in reader:
      new_row = [i if i and not re.match(r'\t+?', i) else 0 for i in row]
      # print(new_row)
      if len(new_row) > 9:
        # print(new_row[:9])
        new_row = new_row[:9]
      writer.writerow(new_row)

In [60]:
# files.download('new_df_anns60k.csv')

In [61]:
# anns_df = pd.read_csv('coref_df_anns60k.csv', delimiter='\t', error_bad_lines=False, header=None)
anns_df = pd.read_csv('new_df_anns60k.csv', delimiter='\t')

In [62]:
anns_df

            TOKEN  TOPIC_NUM  POST_NUM  ...        HEAD  NER  COREFERENCE_CLUSTER
0       обсуждаем        1.0       0.0  ...   обсуждаем  0.0                  0.0
1        препарат        1.0       0.0  ...   обсуждаем  0.0                  0.0
2      рисперидон        1.0       0.0  ...    препарат  1.0                  2.0
3       рисполепт        1.0       0.0  ...  рисперидон  1.0                  3.0
4        сперидан        1.0       0.0  ...   рисполепт  1.0                  4.0
...           ...        ...       ...  ...         ...  ...                  ...
15405           0        0.0       0.0  ...         NaN  NaN                  NaN
15406           0        0.0       0.0  ...         NaN  NaN                  NaN
15407           0        0.0       0.0  ...         NaN  NaN                  NaN
15408           0        0.0       0.0  ...         NaN  NaN                  NaN
15409           0        NaN       NaN  ...         NaN  NaN                  NaN

[15410 rows x 9 columns]

In [63]:
import numpy as np

In [64]:
cor_df = pd.read_csv('content/MyDrive/coref_fasttext60k.csv', delimiter=' ')

In [65]:

np.matrix(cor_df.HEAD_VECT[0]).A[0]

array([-2.08233938e-01,  9.96180058e-01, -2.79894114e-01, -9.09143448e-01,
        3.49961907e-01,  1.22820950e+00, -4.53999013e-01, -4.96644318e-01,
       -5.06227851e-01, -3.50297660e-01, -2.68426925e-01, -3.18647206e-01,
       -4.94759202e-01, -4.05789405e-01, -6.19022734e-02,  5.76916397e-01,
        6.45665407e-01, -6.29692733e-01, -2.28346493e-02,  4.74443585e-01,
        2.75724858e-01,  1.00444555e-01, -2.81267107e-01,  7.38310993e-01,
        1.64172634e-01, -1.40955552e-01, -1.34702528e+00, -2.28699774e-01,
       -2.00072408e-01,  1.53492257e-01,  2.15266779e-01, -3.75066400e-01,
        9.79104459e-01,  1.09640598e-01,  4.11819309e-01, -5.48374474e-01,
        5.74254513e-01,  1.78177617e-02,  2.20505193e-01,  8.06000233e-01,
       -3.45855951e-01, -9.48401261e-03, -1.23907340e+00, -7.95203969e-02,
       -7.97536790e-01, -5.43104485e-02,  4.87657279e-01,  5.39513767e-01,
       -2.17315450e-01, -3.24471802e-01, -3.16938460e-02, -4.50928695e-02,
       -3.87996256e-01,  1.86525464e-01, -8.76217484e-01,  4.62165594e-01,
       -1.30485311e-01,  2.05342710e-01,  4.07475919e-01, -3.70422542e-01,
       -5.11448026e-01, -9.77272838e-02,  7.49553964e-02, -2.01120012e-04,
       -3.41885537e-01,  5.65519333e-01,  1.14082709e-01,  6.78803146e-01,
        4.72706467e-01,  3.42421442e-01, -1.43425480e-01,  1.54427677e-01,
       -1.11259866e+00, -2.89237406e-02,  5.81502438e-01,  1.48962364e-01,
        1.04394841e+00, -4.68549430e-01, -3.26234043e-01, -7.46992528e-02,
        1.37691081e-01, -9.80571359e-02,  8.27818930e-01, -1.83586121e-01,
       -1.40500247e-01,  9.09389317e-01,  3.78665477e-01,  3.24974984e-01,
        1.12861015e-01,  1.28584728e-01, -1.98210865e-01,  1.06453426e-01,
        1.06317341e+00, -1.24137588e-01,  6.81226626e-02, -4.48439986e-01,
        1.37087673e-01,  2.65371919e-01, -2.73170382e-01,  7.81468809e-01])

In [66]:
cosine_similarity([np.matrix(cor_df.TOKEN_VECT[2]).A[0]], [np.matrix(cor_df.TOKEN_VECT[3]).A[0]])[-1][-1]

0.8436395154681279

# **VECTORS HANDLING**

In [67]:
cor_df.TOKEN_VECT = [np.matrix(i).A[0] for i in cor_df.TOKEN_VECT]

In [68]:
cor_df.HEAD_VECT = [np.matrix(i).A[0] for i in cor_df.HEAD_VECT]

In [69]:
cor_df.SENT_VECT = [np.matrix(i).A[0] for i in cor_df.SENT_VECT]

In [70]:
cor_df.HEAD_CHILDS_VECT = [np.matrix(i).A[0] for i in cor_df.HEAD_CHILDS_VECT]

In [71]:
cor_df['NER'] = anns_df['NER']
cor_df['COREFERENCE_CLUSTER'] = anns_df['COREFERENCE_CLUSTER']
cor_df

            TOKEN  ... COREFERENCE_CLUSTER
0       обсуждаем  ...                 0.0
1        препарат  ...                 0.0
2      рисперидон  ...                 2.0
3       рисполепт  ...                 3.0
4        сперидан  ...                 4.0
...           ...  ...                 ...
26492           и  ...                 NaN
26493  таможенные  ...                 NaN
26494     пошлины  ...                 NaN
26495         как  ...                 NaN
26496      светка  ...                 NaN

[26497 rows x 23 columns]

In [72]:
df = cor_df.iloc[:8060,:]

In [73]:
len(df.loc[df['NER'] == 1])

351

In [74]:
len(df.loc[df['NER'] == 3])

69

In [75]:
len(df.loc[df['NER'].isin([1,2,3])])

544

In [76]:
len(df.loc[df['NER'] == 2])

124

In [77]:
df.loc[df['NER'].isin([1,2,3])]

            TOKEN  ... COREFERENCE_CLUSTER
2      рисперидон  ...                 2.0
3       рисполепт  ...                 3.0
4        сперидан  ...                 4.0
21     лекарством  ...                 0.0
142    рисполепта  ...               142.0
...           ...  ...                 ...
7915       лирике  ...              1717.0
7920       лирики  ...              1722.0
7927          нее  ...              1722.0
7932       сейзар  ...              1734.0
7933  ламотриджин  ...              1735.0

[544 rows x 23 columns]

# **SEMANTIC AXIS**

In [78]:
df['TOPIC_NUM'] == 0

0       False
1       False
2       False
3       False
4       False
        ...
8055    False
8056    False
8057    False
8058    False
8059    False
Name: TOPIC_NUM, Length: 8060, dtype: bool

In [79]:
(df['TOPIC_NUM'] == 0)
axis_df = df.query('POST_NUM == 0 and TOKEN_NUM == 2 and SENT_NUM == 0')
axis_df

            TOKEN  ... COREFERENCE_CLUSTER
2      рисперидон  ...                 2.0
576       зелдокс  ...                 2.0
1870    оланзапин  ...                 2.0
5555  галоперидол  ...                 2.0
6200      тиаприд  ...                 3.0

[5 rows x 23 columns]

In [80]:
sum(df.query('POST_NUM == 0 and TOKEN_NUM == 2 and SENT_NUM == 0').TOKEN_VECT)/len(df.query('POST_NUM == 0 and TOKEN_NUM == 2 and SENT_NUM == 0').TOKEN_VECT)

array([ 0.11242506,  1.06504189,  0.60962812, -0.1098321 , -0.25309914,
        0.18837714, -0.29014948, -0.66894132,  0.12588727, -0.36141735,
       -0.05396164, -0.35577641, -0.14144993, -0.15987718, -0.68407827,
       -0.04969584,  0.04704007,  0.06857683,  0.14719775, -0.42784514,
        0.12565804, -0.09923978, -0.46527826,  0.02228641, -0.29075186,
        0.19580094, -0.26369618, -0.26473205, -0.52919418,  0.07394732,
       -0.1234136 , -0.1277977 , -0.02898717,  0.14748353,  0.18349706,
       -0.02373637,  0.25928119, -0.35122524, -0.0759414 ,  0.94526116,
        0.08296286,  0.64028589, -0.28902657,  0.08378753, -0.44904899,
       -0.24238156,  0.36918995, -0.20184582, -0.20304089, -0.099586  ,
        0.13669602,  0.38995985, -0.19354978, -0.37518906,  0.09664967,
        0.01878619, -0.22422224, -0.06534558,  0.09065832, -0.05079969,
       -0.09178696, -0.39066393, -0.03679946, -0.37383265, -0.24993176,
       -0.28516305,  0.65741815, -0.18487955,  0.46176331,  0.12576201,
       -0.50205905, -0.41998887, -0.36937138,  0.19865501,  0.08012601,
       -0.03901949,  0.9511251 , -0.59211317, -0.29579042, -0.19769577,
        0.06904839, -0.16855247,  0.36048187,  0.04521092, -0.30242563,
        0.43372632, -0.26858987, -0.04952024, -0.31077904,  0.54805956,
       -0.15549784, -0.0828743 ,  0.21198337,  0.19918347, -0.28300184,
       -0.05101199,  0.07120493, -0.39694357,  0.40974461,  0.27944899])

In [81]:
token_axe = sum(axis_df.TOKEN_VECT)/len(axis_df.TOKEN_VECT)
head_axe = sum(axis_df.HEAD_VECT)/len(axis_df.HEAD_VECT)
head_childs_axe = sum(axis_df.HEAD_CHILDS_VECT)/len(axis_df.HEAD_CHILDS_VECT)
sent_axe = sum(axis_df.SENT_VECT)/len(axis_df.SENT_VECT)

In [82]:
df.TOKEN_VECT[710]

array([nan])

In [83]:
def make_similarity(df, col, axe):
  new_col = []
  for ind, vect in enumerate(df[col]):
    try:
      new_col.append(cosine_similarity([axe], [vect])[-1][-1])
    except ValueError:
      new_col.append(0)
  df[col] = new_col

In [84]:
make_similarity(df, 'TOKEN_VECT', token_axe)
make_similarity(df, 'HEAD_VECT', head_axe)
make_similarity(df, 'HEAD_CHILDS_VECT', head_childs_axe)
make_similarity(df, 'SENT_VECT', sent_axe)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [85]:
df

           TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
0      обсуждаем    0.424228  ...  0.0                  0.0
1       препарат    0.403455  ...  0.0                  0.0
2     рисперидон    0.933164  ...  1.0                  2.0
3      рисполепт    0.863874  ...  1.0                  3.0
4       сперидан    0.806514  ...  1.0                  4.0
...          ...         ...  ...  ...                  ...
8055         400    0.410595  ...  0.0                  0.0
8056          мг    0.611221  ...  0.0                  0.0
8057  ибупрофена    0.632453  ...  0.0                  0.0
8058   ибупрофен    0.637485  ...  0.0                  0.0
8059     нурофен    0.466525  ...  0.0                  0.0

[8060 rows x 23 columns]

In [86]:
df.describe()

        TOKEN_VECT    IS_ANSWER  ...          NER  COREFERENCE_CLUSTER
count  8060.000000  8060.000000  ...  8060.000000          8060.000000
mean      0.357982     0.942680  ...     0.100000            66.794045
std       0.150429     0.232468  ...     0.414916           355.810749
min      -0.044138     0.000000  ...     0.000000             0.000000
25%       0.251422     1.000000  ...     0.000000             0.000000
50%       0.335851     1.000000  ...     0.000000             0.000000
75%       0.423863     1.000000  ...     0.000000             0.000000
max       0.934259     1.000000  ...     3.000000          3653.000000

[8 rows x 11 columns]

In [87]:
for_factorize = 'ANIMACY	CASE	GENDER	PERSON	POS	DEPENDENCY	HEAD	HEAD_ANIMACY	HEAD_CASE	HEAD_GENDER	HEAD_POS'.split()
for_factorize

['ANIMACY',
 'CASE',
 'GENDER',
 'PERSON',
 'POS',
 'DEPENDENCY',
 'HEAD',
 'HEAD_ANIMACY',
 'HEAD_CASE',
 'HEAD_GENDER',
 'HEAD_POS']

In [88]:

_, lbl = pd.factorize(df.ANIMACY)
print(lbl[0])
_

inan

array([-1,  0,  1, ...,  0, -1,  0])

In [89]:
mapping_dict = {}
for col_name in for_factorize:
  col, lbl = pd.factorize(df[col_name])
  df[col_name] = col
  mapping_dict[col_name] = lbl
mapping_dict

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

{'ANIMACY': Index(['inan', 'anim'], dtype='object'),
 'CASE': Index(['nomn', 'gent', 'datv', 'accs', 'loct', 'ablt', 'loc2'], dtype='object'),
 'DEPENDENCY': Index(['ROOT', 'obj', 'appos', 'parataxis', 'conj', 'advmod', 'ccomp', 'iobj',
        'csubj', 'case', 'obl', 'det', 'nsubj', 'cc', 'discourse', 'fixed',
        'mark', 'amod', 'advcl', 'xcomp', 'nummod', 'nmod', 'nsubj:pass',
        'nummod:gov', 'cop', 'acl:relcl', 'acl', 'aux', 'flat:foreign', 'punct',
        'obl:agent', 'flat', 'aux:pass', 'orphan', 'expl'],
       dtype='object'),
 'GENDER': Index(['masc', 'femn', 'neut'], dtype='object'),
 'HEAD': Index(['обсуждаем', 'препарат', 'рисперидон', 'рисполепт', 'знаю', 'стоило',
        'меня', 'нет', 'проблем', 'лекарством',
        ...
        'аскофен', 'ибупрофена', 'yurij76', 'называется', 'составе', 'кофеина',
        'ацетилки', 'сказывается', 'кровообращении', 'ибупрофен'],
       dtype='object', length=1576),
 'HEAD_ANIMACY': Index(['inan', 'anim'], dtype='object'),
 'HEAD_CASE': Index(['nomn', 'gent', 'accs', 'ablt', 'datv', 'loct', 'loc2'], dtype='object'),
 'HEAD_GENDER': Index(['masc', 'femn', 'neut'], dtype='object'),
 'HEAD_POS': Index(['VERB', 'NOUN', 'NPRO', 'PRED', 'PREP', 'INFN', 'PRTS', 'GRND', 'ADJF',
        'ADVB', 'PRCL', 'PRTF', 'CONJ', 'ADJS', 'COMP', 'INTJ', 'NUMR'],
       dtype='object'),
 'PERSON': Index(['1per', '3per', '2per'], dtype='object'),
 'POS': Index(['VERB', 'NOUN', 'PRTS', 'PRCL', 'CONJ', 'NPRO', 'INFN', 'PREP', 'ADVB',
        'PRED', 'ADJF', 'NUMR', 'GRND', 'COMP', 'PRTF', 'ADJS', 'INTJ'],
       dtype='object')}

In [90]:
# X = cor_df.drop(['COREFERENCE_CLUSTER', 'NER', 'TOKEN'], axis=1)
# X_test = cor_df_test.drop(['COREFERENCE_CLUSTER', 'NER', 'TOKEN'], axis=1)
# labels_dict = {}
# test_labels_dict = {}

# for i in X.columns:
#   X[i], lbl = pd.factorize(X[i])
#   labels_dict[i] = lbl

# for i in X_test.columns:
#   X_test[i], lbl = pd.factorize(X_test[i])
#   test_labels_dict[i] = lbl 

# y = cor_df['COREFERENCE_CLUSTER']
# y, y_label = pd.factorize(y)

# y_test = cor_df_test['COREFERENCE_CLUSTER']
# y_test, y_test_label = pd.factorize(y_test)

In [91]:
train, test = train_test_split(df, test_size=0.2)

In [92]:
train = train.reset_index()

In [93]:

# train = train.iloc[:,:24].drop(['TOKEN', 'level_0', 'index'], axis=1)
train = train.drop(['TOKEN', 'index'], axis=1)

In [94]:
test = test.reset_index()

In [95]:
test

      index       TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
0      3023         уже    0.282847  ...          0.485607  0.0                  0.0
1       344  рисполепта    0.790397  ...          0.526785  1.0                344.0
2      6619         или    0.200896  ...          0.365752  0.0                  0.0
3      2593   обсуждала    0.438473  ...          0.557357  0.0                  0.0
4      3433          44    0.351492  ...          0.225133  0.0                  0.0
...     ...         ...         ...  ...               ...  ...                  ...
1607   3799     olzapin    0.527160  ...          0.452479  0.0                  0.0
1608   7993     аскофен    0.673179  ...          0.680814  0.0                  0.0
1609   6486       людей    0.279347  ...          0.462307  0.0                  0.0
1610    583    практике    0.436726  ...          0.555716  0.0                  0.0
1611   4188     продажу    0.259127  ...          0.519244  0.0                  0.0

[1612 rows x 24 columns]

In [96]:
# test = test.iloc[:,:24].drop(['TOKEN', 'index'], axis=1)
# test = test.drop(['TOKEN', 'index'], axis=1)

In [97]:
test

      index       TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
0      3023         уже    0.282847  ...          0.485607  0.0                  0.0
1       344  рисполепта    0.790397  ...          0.526785  1.0                344.0
2      6619         или    0.200896  ...          0.365752  0.0                  0.0
3      2593   обсуждала    0.438473  ...          0.557357  0.0                  0.0
4      3433          44    0.351492  ...          0.225133  0.0                  0.0
...     ...         ...         ...  ...               ...  ...                  ...
1607   3799     olzapin    0.527160  ...          0.452479  0.0                  0.0
1608   7993     аскофен    0.673179  ...          0.680814  0.0                  0.0
1609   6486       людей    0.279347  ...          0.462307  0.0                  0.0
1610    583    практике    0.436726  ...          0.555716  0.0                  0.0
1611   4188     продажу    0.259127  ...          0.519244  0.0                  0.0

[1612 rows x 24 columns]

In [98]:
X, y, X_test, y_test = train.iloc[:,:23], train.COREFERENCE_CLUSTER, test.drop(['TOKEN', 'index'], axis=1).iloc[:,:24], test.drop(['TOKEN', 'index'], axis=1).COREFERENCE_CLUSTER

In [99]:
X

      TOKEN_VECT  IS_ANSWER  ...  NER  COREFERENCE_CLUSTER
0       0.375473          1  ...  0.0                  0.0
1       0.425671          1  ...  0.0                  0.0
2       0.475238          1  ...  0.0                  0.0
3       0.273668          1  ...  0.0                  0.0
4       0.359032          1  ...  0.0                  0.0
...          ...        ...  ...  ...                  ...
6443    0.309848          1  ...  0.0                  0.0
6444    0.268735          1  ...  0.0                  0.0
6445    0.152379          1  ...  0.0                  0.0
6446    0.284003          1  ...  0.0                  0.0
6447    0.394103          1  ...  0.0                  0.0

[6448 rows x 22 columns]

In [100]:
y

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
6443    0.0
6444    0.0
6445    0.0
6446    0.0
6447    0.0
Name: COREFERENCE_CLUSTER, Length: 6448, dtype: float64

In [165]:
clf = tree.DecisionTreeClassifier(max_depth=200)
clf.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=200, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [166]:
clf_ent = tree.DecisionTreeClassifier(criterion='entropy', max_depth=200)
clf_ent.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=200, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [167]:
from graphviz import Source
from sklearn import tree
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score

In [168]:
clf.score(X_test, y_test), clf_ent.score(X_test, y_test)

(0.956575682382134, 0.9578163771712159)

In [169]:
# tree.plot_tree(clf)

In [170]:
# graph = Source(tree.export_graphviz(clf, out_file=None, 
#                                     feature_names=list(X), class_names=uniques, filled=True))

# display(SVG(graph.pipe(format='svg')))

In [171]:
pred = clf.predict(X_test.drop('NER', axis=1))

ValueError: ignored

In [173]:
pred_ent = clf_ent.predict(X_test)

In [174]:
accuracy_score(list(pred), list(y_test))

0.955955334987593

In [175]:
accuracy_score(list(pred_ent), list(y_test))

0.9578163771712159

In [176]:
for i in range(len(pred)):
  if pred[i] == y_test[i] and pred[i] != 0:
    print(pred[i])
    print(y_test[i])
    print(test.iloc[:,:24].iloc[[i]])

1657.0
1657.0
     index   TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
156   7855  лирики    0.620593  ...          0.593643  1.0               1657.0

[1 rows x 24 columns]
270.0
270.0
     index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
297   6502    он    0.329561  ...          0.530246  3.0                270.0

[1 rows x 24 columns]
270.0
270.0
     index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
443   6468  тиапридал    0.826306  ...          0.622012  1.0                270.0

[1 rows x 24 columns]
5.0
5.0
     index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
624   5563    он    0.329561  ...          0.551001  3.0                  5.0

[1 rows x 24 columns]
183.0
183.0
     index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
865   2050  препарата    0.281452  ...          0.461852  2.0                183.0

[1 rows x 24 columns]
446.0
446.0
     index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
942   2323   них    0.203623  ...          0.409583  3.0                446.0

[1 rows x 24 columns]
365.0
365.0
     index        TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
946   5918  галоперидол    0.897747  ...          0.604788  1.0                365.0

[1 rows x 24 columns]
3125.0
3125.0
      index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1084   4997  препарат    0.403455  ...            0.5087  2.0               3125.0

[1 rows x 24 columns]
3.0
3.0
      index            TOKEN  ...  NER  COREFERENCE_CLUSTER
1206   3539  препарат.точнее  ...  2.0                  3.0

[1 rows x 24 columns]
231.0
231.0
      index    TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1235   6429  тиаприд    0.889868  ...          0.887767  1.0                231.0

[1 rows x 24 columns]
183.0
183.0
      index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1433   2055    он    0.329561  ...          0.458961  3.0                183.0

[1 rows x 24 columns]
183.0
183.0
      index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1458   2071    он    0.329561  ...          0.449425  3.0                183.0

[1 rows x 24 columns]
3.0
3.0
      index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1563      3  рисполепт    0.863874  ...          0.856327  1.0                  3.0

[1 rows x 24 columns]
270.0
270.0
      index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1565   6483  препарата    0.281452  ...          0.462307  2.0                270.0

[1 rows x 24 columns]

In [177]:
for i in range(len(pred)):
  if pred_ent[i] == y_test[i] and pred_ent[i] != 0:
    print(pred_ent[i])
    print(y_test[i])
    print(test.iloc[:,:24].iloc[[i]])

270.0
270.0
     index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
297   6502    он    0.329561  ...          0.530246  3.0                270.0

[1 rows x 24 columns]
5.0
5.0
     index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
624   5563    он    0.329561  ...          0.551001  3.0                  5.0

[1 rows x 24 columns]
183.0
183.0
     index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
865   2050  препарата    0.281452  ...          0.461852  2.0                183.0

[1 rows x 24 columns]
446.0
446.0
     index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
942   2323   них    0.203623  ...          0.409583  3.0                446.0

[1 rows x 24 columns]
365.0
365.0
     index        TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
946   5918  галоперидол    0.897747  ...          0.604788  1.0                365.0

[1 rows x 24 columns]
287.0
287.0
     index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
969   5848  лекарство    0.310717  ...          0.380021  2.0                287.0

[1 rows x 24 columns]
482.0
482.0
      index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1031   6692  препарат    0.403455  ...           0.56984  2.0                482.0

[1 rows x 24 columns]
3125.0
3125.0
      index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1084   4997  препарат    0.403455  ...            0.5087  2.0               3125.0

[1 rows x 24 columns]
3270.0
3270.0
      index       TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1155   5138  рисперидон    0.933164  ...          0.712205  1.0               3270.0

[1 rows x 24 columns]
3.0
3.0
      index            TOKEN  ...  NER  COREFERENCE_CLUSTER
1206   3539  препарат.точнее  ...  2.0                  3.0

[1 rows x 24 columns]
231.0
231.0
      index    TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1235   6429  тиаприд    0.889868  ...          0.887767  1.0                231.0

[1 rows x 24 columns]
830.0
830.0
      index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1337   2704  препарат    0.403455  ...          0.608932  2.0                830.0

[1 rows x 24 columns]
482.0
482.0
      index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1404   6683  средство    0.365406  ...          0.483485  2.0                482.0

[1 rows x 24 columns]
183.0
183.0
      index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1433   2055    он    0.329561  ...          0.458961  3.0                183.0

[1 rows x 24 columns]
183.0
183.0
      index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1458   2071    он    0.329561  ...          0.449425  3.0                183.0

[1 rows x 24 columns]
937.0
937.0
      index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1471   7135  тиаприда    0.855527  ...          0.667507  1.0                937.0

[1 rows x 24 columns]
3.0
3.0
      index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1563      3  рисполепт    0.863874  ...          0.856327  1.0                  3.0

[1 rows x 24 columns]

In [113]:
# tp = []
# fp = []
# tn = []
# fn = []
# for i in range(len(pred)):
#   if pred[i] != 0.0:
#     if pred[i] == y_test[i]:
#       t.append(i)
#     else:
#       f.append(i)

In [152]:
test.iloc[:,22:23].iloc[[1]].values[0][0] in (2.0, 2.0)

False

In [179]:
pred_ent = clf_ent.predict(X_test)
t = []
f = []

for i in range(len(pred)):
  if pred_ent[i] != 0.0 and test.iloc[:,22:23].iloc[[i]].values[0][0] in (2.0, 3.0):
    if pred_ent[i] == y_test[i]:
      t.append(i)
    else:
      f.append(i)

In [180]:

len(t), len(f)

(12, 8)

In [181]:
precision_ent = len(t)/(len(f) + len(t))
precision_ent

0.6

In [118]:
from sklearn.ensemble import RandomForestClassifier

In [182]:
randf_clf = RandomForestClassifier(max_depth=15, n_estimators=600, min_samples_split=4, bootstrap=True, )
randf_clf.fit(X.drop('NER', axis=1), y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=15, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=4,
                       min_weight_fraction_leaf=0.0, n_estimators=600,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [158]:
randf_clf.score(X_test.drop('NER', axis=1), y_test)

0.9491315136476427

In [159]:
pred_randf = randf_clf.predict(X_test.drop('NER', axis=1))


t = []
f = []

for i in range(len(pred)):
  if pred_randf[i] != 0.0 and test.iloc[:,22:23].iloc[[i]].values[0][0] in (2.0, 3.0):
    if pred_randf[i] == y_test[i]:
      t.append(i)
    else:
      f.append(i)
len(t), len(f)

(2, 12)

In [160]:
from sklearn import linear_model

In [161]:
reg = linear_model.LinearRegression()
reg.fit(X.drop('NER', axis=1), y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [126]:
reg.score(X_test.drop('NER', axis=1), y_test)

1.0

In [162]:
pred_reg = reg.predict(X_test.drop('NER', axis=1))


t = []
f = []

for i in range(len(pred)):
  if pred_reg[i] != 0.0 and test.iloc[:,22:23].iloc[[i]].values[0][0] in (2.0, 3.0):
    if pred_reg[i] == y_test[i]:
      t.append(i)
    else:
      f.append(i)
len(t), len(f)

(1, 26)