<a href="https://colab.research.google.com/github/DmitryKutsev/cross-document_coreference/blob/main/classifiers/ml_classifiers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Импорт**

In [218]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [219]:
from IPython.display import SVG, display, HTML

In [220]:
from google.colab import drive
drive.mount('./content', force_remount=False)

Drive already mounted at ./content; to attempt to forcibly remount, call drive.mount("./content", force_remount=True).

In [244]:
import spacy

import gensim
from gensim.models import Word2Vec 
from gensim.models import FastText

from nltk.tokenize import RegexpTokenizer
from nltk import  sent_tokenize
from sklearn.metrics.pairwise import cosine_distances, cosine_similarity
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [222]:
from graphviz import Source
from sklearn import tree, svm, linear_model
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [223]:
!ls
import os
for i in os.listdir('content/'):
  print(i)

content		 new_anns60k.csv.1  new_coref_df_anns60k.csv  sample_data
new_anns60k.csv  new_anns60k.csv.2  new_df_anns60k.csv
MyDrive
.shortcut-targets-by-id
.file-revisions-by-id
.Trash

In [224]:
import csv
import re
from google.colab import files
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

## **Обработка данных**

In [225]:
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/scraping/neuroleptic_antidepr2.txt
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/scraping/rakpobedim_ru2.txt
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/scraping/hv-info_gepatit2.txt

--2021-05-23 14:20:03--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/scraping/neuroleptic_antidepr2.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11655409 (11M) [text/plain]
Saving to: ‘neuroleptic_antidepr2.txt’

neuroleptic_antidep 100%[===================>]  11.12M  16.7MB/s    in 0.7s

2021-05-23 14:20:05 (16.7 MB/s) - ‘neuroleptic_antidepr2.txt’ saved [11655409/11655409]

--2021-05-23 14:20:05--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/scraping/rakpobedim_ru2.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19072917 (18M) [text/plain]
Saving to: ‘rakpobedim_ru2.txt’

rakpobedim_ru2.txt  100%[===================>]  18.19M  21.0MB/s    in 0.9s

2021-05-23 14:20:08 (21.0 MB/s) - ‘rakpobedim_ru2.txt’ saved [19072917/19072917]

--2021-05-23 14:20:08--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/scraping/hv-info_gepatit2.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18273113 (17M) [text/plain]
Saving to: ‘hv-info_gepatit2.txt’

hv-info_gepatit2.tx 100%[===================>]  17.43M  20.5MB/s    in 0.8s

2021-05-23 14:20:10 (20.5 MB/s) - ‘hv-info_gepatit2.txt’ saved [18273113/18273113]

In [226]:
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/coref_df_anns60k.csv
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/annotation_table.csv

--2021-05-23 14:20:10--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/coref_df_anns60k.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 404 Not Found
2021-05-23 14:20:11 ERROR 404: Not Found.

--2021-05-23 14:20:11--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/annotation_table.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2045566 (2.0M) [text/plain]
Saving to: ‘annotation_table.csv’

annotation_table.cs 100%[===================>]   1.95M  8.61MB/s    in 0.2s

2021-05-23 14:20:12 (8.61 MB/s) - ‘annotation_table.csv’ saved [2045566/2045566]

In [227]:
handler = open('neuroleptic_antidepr2.txt', 'r', encoding='utf-8')
my_txt = handler.read()
handler.close()

handler = open('hv-info_gepatit2.txt', 'r', encoding='utf-8')
my_txt += handler.read()
handler.close()

handler = open('rakpobedim_ru2.txt', 'r', encoding='utf-8')
my_txt += handler.read()
handler.close()

In [236]:
posts = my_txt.split('----')

## **Обучение векторизатора**

In [245]:
tokenizer = RegexpTokenizer(r'\w+')
sentences_tokenized = [w.lower() for w in posts]

vectorized_txt = tfidf.fit_transform(sentences_tokenized)
sentences_tokenized = [tokenizer.tokenize(i) for i in sentences_tokenized]
ft = FastText(sentences_tokenized, window=5, min_count=5, workers=4,sg=1)

Обработка битых символов, чтобы pandas мог открыть таблицу.

In [260]:
vvv = 0
with open('annotation_table.csv') as csvfile:
  with open('annotations.csv', 'w') as write_file:
    writer = csv.writer(write_file, delimiter='\t')
    for new_row in csvfile:
      vvv +=1
      # print(i.split('\t'))
      if len(new_row.split('\t')) > 18:
        new_row = new_row.split('\t')[:18]
      writer.writerow(new_row)
vvv

27019

In [261]:
# # with open('coref_df_anns60k.csv') as csvfile:
# with open('new_anns60k.csv') as csvfile:
#   reader = csv.reader(csvfile, delimiter='\t')
#   with open('new_df_anns60k.csv', 'w') as write_file:
#     writer = csv.writer(write_file, delimiter='\t')
#     c = 0
#     for row in reader:
#       c +=1
#       new_row = [i if i and not re.match(r'\t+?', i) else 0 for i in row]
#       if len(new_row) > 9:
#         new_row = new_row[:9]
#       else:
#         new_row = [0 for i in range(9)]
#       writer.writerow(new_row)
# c

In [262]:
# !rm new_anns60k.csv.1 new_anns60k.csv.2 new_df_anns60k.csv new_anns60k.csv
# !ls

In [263]:
# anns_df = pd.read_csv('coref_df_anns60k.csv', delimiter='\t', error_bad_lines=False, header=None)
anns_df = pd.read_csv('annotations.csv', delimiter='\t')
anns_df

            TOKEN IS_ANSWER TOPIC_NUM  ...  HEAD_GENDER  HEAD_POS  NER
0       обсуждаем         0         1  ...          NaN      VERB    0
1        препарат         0         1  ...          NaN      VERB    0
2      рисперидон         0         1  ...         masc      NOUN    1
3       рисполепт         0         1  ...         masc      NOUN    1
4        сперидан         0         1  ...         femn      NOUN    1
...           ...       ...       ...  ...          ...       ...  ...
27013           и         0        22  ...         femn      NOUN    0
27014  таможенные         0        22  ...         femn      NOUN    0
27015     пошлины         0        22  ...          NaN      INFN    0
27016         как         0        22  ...          NaN      INFN    0
27017      светка         0        22  ...         femn      NOUN    0

[27018 rows x 18 columns]

In [265]:
tok_list = []
for token in anns_df.TOKEN:
  try:
    tok_list.append(ft.wv.__getitem__(token.lower()))
  except (KeyError, AttributeError):
    tok_list.append(0)
    # print(token, 'here')
anns_df['TOKEN_VECT'] = tok_list


tok_list = []
for token in anns_df.HEAD:
  try:
    tok_list.append(ft.wv.__getitem__(token.lower()))
  except (KeyError, AttributeError):
    tok_list.append(0)
    # print(token, 'here')
anns_df['HEAD_VECT'] = tok_list

In [ ]:
# tok_list = []
# for sent in 
# for token in anns_df.HEAD:
#   try:
#     tok_list.append(ft.wv.__getitem__(token.lower()))
#   except KeyError:
#     tok_list.append(0)
#     print(token, 'here')
# anns_df['TOKEN_VECT'] = tok_list

In [299]:
anns_df = anns_df.loc[(anns_df['TOPIC_NUM'].isin(list(range(30)))) | (anns_df['SENT_NUM'].isin(list(range(10000))))]
anns_df = anns_df.reset_index().drop(['index'], axis=1)

In [300]:
topics = list(set(anns_df.TOPIC_NUM.values))
topics
sent_vect_list = []
# номера предложений топика
for topic_num in topics:

  sents_in_topic = list(set(anns_df.loc[anns_df['TOPIC_NUM'] == topic_num].SENT_NUM))
  topic_len = len(anns_df.loc[anns_df['TOPIC_NUM'] == topic_num])
  for sent_num in sents_in_topic:
    tok_vects = anns_df.loc[(anns_df['TOPIC_NUM'] == topic_num) & (anns_df['SENT_NUM'] == sent_num)].TOKEN_VECT
    try:
      sent_vect = sum(list(tok_vects))/len(tok_vects)
    except ZeroDivisionError:
      sent_vect = 0
      print(anns_df.loc[(anns_df['SENT_NUM'] == sent_num)])
    for i in range(len(tok_vects)):
      sent_vect_list.append(sent_vect)
len(sent_vect_list)
# если не класть нулевых предложений - будет длина датафрейма, как он раньше импортировлся, но поздно.

26497

In [301]:
anns_df['SENT_VECT '] = sent_vect_list

In [302]:
anns_df

            TOKEN  ...                                         SENT_VECT
0       обсуждаем  ...  [0.18557024, 0.35647067, 0.20470199, -0.290656...
1        препарат  ...  [0.18557024, 0.35647067, 0.20470199, -0.290656...
2      рисперидон  ...  [0.18557024, 0.35647067, 0.20470199, -0.290656...
3       рисполепт  ...  [0.18557024, 0.35647067, 0.20470199, -0.290656...
4        сперидан  ...  [0.18557024, 0.35647067, 0.20470199, -0.290656...
...           ...  ...                                                ...
26492           и  ...  [0.10717429, 0.3408835, 0.28401107, -0.3589822...
26493  таможенные  ...  [0.10717429, 0.3408835, 0.28401107, -0.3589822...
26494     пошлины  ...  [0.10717429, 0.3408835, 0.28401107, -0.3589822...
26495         как  ...  [0.10717429, 0.3408835, 0.28401107, -0.3589822...
26496      светка  ...  [0.10717429, 0.3408835, 0.28401107, -0.3589822...

[26497 rows x 21 columns]

In [ ]:
topics = list(set(df.TOPIC_NUM.values)) 
for topic_num in topics:
  # if topic_num == 2:
  #   break
  # извлекаем предложения топика
  sents_in_topic = list(set(df.loc[df['TOPIC_NUM'] == topic_num ].SENT_NUM))
  for sent_num in sents_in_topic:
    sent = df.loc[(df['TOPIC_NUM'] == topic_num)  & (df['SENT_NUM'] == sent_num)]

Проверим данные

In [ ]:
anns_df

In [183]:
import numpy as np

In [185]:
# vvv = 0
# with open('content/MyDrive/coref_fasttext60k_1.csv') as csvfile:
#   with open('new_coref_df_anns60k.csv', 'w') as write_file:
#     writer = csv.writer(write_file, delimiter='\t')
#     for new_row in csvfile:
#       vvv +=1
#       # print(i.split('\t'))
#       if len(new_row.split('\t')) > 9:
#         new_row = new_row.split('\t')[:9]
#       writer.writerow(new_row)
# vvv

In [216]:
# cor_df = pd.read_csv('content/MyDrive/coref_fasttext60k_1.csv', delimiter=' ')
# cor_df

In [217]:
# cosine_similarity([np.matrix(cor_df.TOKEN_VECT[2]).A[0]], [np.matrix(cor_df.TOKEN_VECT[3]).A[0]])[-1][-1]

# **VECTORS HANDLING**

Изменяем значения векторов предложений, главного слова группы, зависимых слов группы, и токена на косинусную дистанцию с семантической осью.

Сначала, изменим строковое представление на массив.

In [188]:
cor_df.TOKEN_VECT = [np.matrix(i).A[0] for i in cor_df.TOKEN_VECT]
cor_df.HEAD_VECT = [np.matrix(i).A[0] for i in cor_df.HEAD_VECT]
cor_df.SENT_VECT = [np.matrix(i).A[0] for i in cor_df.SENT_VECT]
cor_df.HEAD_CHILDS_VECT = [np.matrix(i).A[0] for i in cor_df.HEAD_CHILDS_VECT]

Добавим размеченные данные, и посмотрим, что получилось.

In [213]:
cor_df['NER'] = anns_df['NER']
cor_df['COREFERENCE_CLUSTER'] = anns_df['COREFERENCE_CLUSTER']
cor_df['ANN_TOKEN'] = anns_df['TOKEN']
# cor_df

In [ ]:
cor_df.loc()

Ограничим датафрейм теми данными, которые были размечены, чтобы была возможность провести оценку системы.

In [214]:
df = cor_df.iloc[:15000,:]

In [215]:
df

            TOKEN  ...     ANN_TOKEN
0       обсуждаем  ...     обсуждаем
1        препарат  ...      препарат
2      рисперидон  ...    рисперидон
3       рисполепт  ...     рисполепт
4        сперидан  ...      сперидан
...           ...  ...           ...
14995         эта  ...      абраксан
14996     вакцина  ...             с
14997    аукнется  ...  гемцитабином
14998          на  ...             в
14999   организме  ...        центре

[15000 rows x 24 columns]

Всего наименований препаратов размечено (это не обязательно антецеденты, любое название препарата).

In [192]:
len(df.loc[df['NER'] == 1])

579

Из них местоимений (прономинальные анафоры).

In [193]:
len(df.loc[df['NER'] == 3])

112

И номинативные анафоры существительные, такие как "препарат" и "лекарство". В основном это они и есть.

In [194]:
len(df.loc[df['NER'] == 2])

215

In [195]:
len(df.loc[df['NER'].isin([1,2,3])])

906

In [196]:
# df['NER'] = [int(i) for i in df['NER']]
# df['COREFERENCE_CLUSTER'] = [int(i) for i in df['COREFERENCE_CLUSTER']]

Посмотрим на данные.

In [197]:
df.loc[df['NER'].isin([1,2,3])]

            TOKEN  ... COREFERENCE_CLUSTER
2      рисперидон  ...                 2.0
3       рисполепт  ...                 3.0
4        сперидан  ...                 4.0
21     лекарством  ...                 0.0
142    рисполепта  ...               142.0
...           ...  ...                 ...
14921      случае  ...              2138.0
14925          но  ...              2145.0
14947    мочевого  ...              2167.0
14995         эта  ...              2215.0
14997    аукнется  ...              2217.0

[906 rows x 23 columns]

# **SEMANTIC AXIS**

Реализация метода семантических осей.
Сначала, выбираем первые предложения каждого топика. Посмотрим на них.

In [198]:
axis_df = df.query('POST_NUM == 0 and TOKEN_NUM == 2 and SENT_NUM == 0')
axis_df

             TOKEN  ... COREFERENCE_CLUSTER
2       рисперидон  ...                 2.0
576        зелдокс  ...                 2.0
1870     оланзапин  ...                 0.0
5555   галоперидол  ...                 0.0
6200       тиаприд  ...                 0.0
8450     сероквель  ...                 0.0
8541          день  ...                 0.0
11117          500  ...                 0.0
11787  капецитабин  ...                 0.0
11806       иресса  ...                 0.0
12118        очень  ...                 0.0
12200        очень  ...                 0.0
14936    показания  ...                 0.0

[13 rows x 23 columns]

In [199]:
# sum(df.query('POST_NUM == 0 and TOKEN_NUM == 2 and SENT_NUM == 0').TOKEN_VECT)/len(df.query('POST_NUM == 0 and TOKEN_NUM == 2 and SENT_NUM == 0').TOKEN_VECT)

Суммируем верктора токенов, главных слов, предложения целиком, и зависимых слов. Нормализуем.

In [200]:

token_axe = sum(axis_df.TOKEN_VECT)/len(axis_df.TOKEN_VECT)
head_axe = sum(axis_df.HEAD_VECT)/len(axis_df.HEAD_VECT)
head_childs_axe = sum(axis_df.HEAD_CHILDS_VECT)/len(axis_df.HEAD_CHILDS_VECT)
sent_axe = sum(axis_df.SENT_VECT)/len(axis_df.SENT_VECT)

In [201]:
df.TOKEN_VECT[710]

array([nan])

Функция, которая заменяет столбец с векторами на столбец со значениями косинусной дистанции с соответствующей семантической осью.

In [202]:
def make_similarity(df, col, axe):
  new_col = []
  for ind, vect in enumerate(df[col]):
    try:
      new_col.append(cosine_similarity([axe], [vect])[-1][-1])
    except ValueError:
      new_col.append(0)
  df[col] = new_col

In [203]:
make_similarity(df, 'TOKEN_VECT', token_axe)
make_similarity(df, 'HEAD_VECT', head_axe)
make_similarity(df, 'HEAD_CHILDS_VECT', head_childs_axe)
make_similarity(df, 'SENT_VECT', sent_axe)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [204]:
df.TOKEN[1]

'препарат'

In [205]:
# df['SUM_VECT']= [(df.TOKEN_VECT[i] + df.SENT_VECT[i])/3 for i in range(len(df.SENT_VECT))]

Посмотрим на данные.

In [206]:
df

            TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
0       обсуждаем    0.462631  ...    0                  0.0
1        препарат    0.537895  ...    0                  0.0
2      рисперидон    0.798992  ...    1                  2.0
3       рисполепт    0.827964  ...    1                  3.0
4        сперидан    0.741854  ...    1                  4.0
...           ...         ...  ...  ...                  ...
14995         эта    0.396652  ...    1               2215.0
14996     вакцина    0.506309  ...    0                  0.0
14997    аукнется    0.519965  ...    1               2217.0
14998          на    0.444298  ...    0                  0.0
14999   организме    0.471066  ...    0                  0.0

[15000 rows x 23 columns]

# **ПРАВИЛОВЫЙ АЛГОРИТМ**

In [207]:
topics = list(set(df.TOPIC_NUM.values))
topics

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [208]:
df.iloc[[11696]]

         TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
11696  спасибо    0.455624  ...    0                  0.0

[1 rows x 23 columns]

In [209]:

topic_num = 1
topic_df = df.loc[df['TOPIC_NUM'] == topic_num]
# номера предложений топика
sents_in_topic = list(set(df.loc[df['TOPIC_NUM'] == topic_num ].SENT_NUM))
sents_in_topic
# достать пост
df.loc[(df['TOPIC_NUM'] == 1) & (df['POST_NUM'] == 1)]
# достать конкретное предложение конкретного поста
df.loc[(df['TOPIC_NUM'] == 1) & (df['POST_NUM'] == 1) & (df['SENT_NUM'] == 1)]
# достать токен из предложение конкретного поста
df.loc[(df['TOPIC_NUM'] == 1) & (df['POST_NUM'] == 1) & (df['SENT_NUM'] == 1)].iloc[[2]]

          TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
13  практически    0.551951  ...    0                  0.0

[1 rows x 23 columns]

In [210]:
df.loc[(df['TOPIC_NUM'] == 1) & (df['POST_NUM'] == 1) & (df['SENT_NUM'] == 1)].iloc[[2]].POST_NUM.values[0]

1

In [211]:
# анафоры
df.loc[(df['TOPIC_NUM'] == 1) & (df['POST_NUM'] == 1) & (df['SENT_NUM'] == 1)
& (df['NER'] > 1)]

         TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
21  лекарством    0.427442  ...    2                  0.0

[1 rows x 23 columns]

In [212]:
# def anaphore_in_sent(sent_num, topic_num) это потом
# изначально отталкиваемся от номеров топиков, итерация по ним
# topics = list(set(df.TOPIC_NUM.values)) это выше
for topic_num in topics:
  # if topic_num == 2:
  #   break
  # извлекаем предложения топика
  sents_in_topic = list(set(df.loc[df['TOPIC_NUM'] == topic_num ].SENT_NUM))
  for sent_num in sents_in_topic:
    sent = df.loc[(df['TOPIC_NUM'] == topic_num)  & (df['SENT_NUM'] == sent_num)]
    # собираем анафоры
    current_anaphors = sent.loc[(sent['NER'] > 1)]
    print(current_anaphors)
    if sent_num == 3:
      break

        TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
295  таблетки    0.530486  ...    2                  0.0
421  препарат    0.537895  ...    2                  2.0
429  препарат    0.537895  ...    2                  2.0
454  препарат    0.537895  ...    2                  2.0

[4 rows x 23 columns]
          TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
21   лекарством    0.427442  ...    2                  0.0
475         его    0.475986  ...    3                  2.0

[2 rows x 23 columns]
          TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
446  последнему    0.523204  ...    2                442.0

[1 rows x 23 columns]
    TOKEN  TOKEN_VECT  IS_ANSWER  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
566    он    0.515951          0  ...          0.649308    3                536.0

[1 rows x 23 columns]
         TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
575   препарат    0.537895  ...    2                  0.0
587         он    0.515951  ...    3                 11.0
1408     можно    0.404440  ...    2                755.0

[3 rows x 23 columns]
         TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
594         он    0.515951  ...    3                 11.0
767         он    0.515951  ...    3                182.0
1241        он    0.515951  ...    3                658.0
1421        мг    0.623475  ...    3                829.0
1746  пришлось    0.519657  ...    2               1162.0

[5 rows x 23 columns]
         TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
779       него    0.518975  ...    3                182.0
959   нравится    0.518397  ...    2                375.0
1018  нравится    0.518397  ...    2                434.0
1433      день    0.665330  ...    3                829.0

[4 rows x 23 columns]
          TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
825         нём    0.526321  ...    3                182.0
828          он    0.515951  ...    3                182.0
1248  благодарю    0.375755  ...    3                658.0
1613      хотел    0.416115  ...    2               1022.0
1672      хотел    0.416115  ...    2               1081.0

[5 rows x 23 columns]
            TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
2673     препарат    0.537895  ...    3                778.0
2698     зипрексе    0.710931  ...    2                806.0
3488  проверялась    0.509992  ...    3               1582.0
4437        исчез    0.484700  ...    2               2488.0
4625        15:42    0.566759  ...    2               2711.0
4753     снижение    0.429902  ...    2               2766.0
4782    кг(раньше    0.456252  ...    2                  0.0
5280          for    0.409249  ...    2               3350.0
5283    24.7.2009    0.659775  ...    2               3350.0
5285           да    0.481310  ...    2                  0.0
5401           на    0.444298  ...    2               3401.0

[11 rows x 23 columns]
                   TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
1914                 кто    0.508086  ...    2                 26.0
3575            заложено    0.453154  ...    2                  3.0
3658          повышением    0.453225  ...    2               1750.0
3662                  на    0.444298  ...    3               1750.0
4652            наоборот    0.511601  ...    2               2711.0
4821                 вот    0.507802  ...    3                  3.0
5046          art14.html    0.492640  ...    2               3125.0
5050  гиперпролактинемия    0.680193  ...    3               3125.0
5200               много    0.394197  ...    3               3270.0

[9 rows x 23 columns]
             TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
2068         людям    0.303683  ...    2                183.0
2338     обращаюсь    0.440381  ...    2                446.0
2472    обострения    0.598172  ...    2                  0.0
3287       молодым    0.531904  ...    2               1379.0
3737           все    0.433267  ...    2                  0.0
4601           как    0.474905  ...    3                  3.0
4769     интересно    0.606694  ...    2                  0.0
4774  депрессивную    0.544609  ...    2               2853.0
5368            ем    0.464085  ...    2               3401.0

[9 rows x 23 columns]
               TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
2075   представители    0.480438  ...    3                183.0
2091               у    0.493165  ...    3                183.0
2347          нибудь    0.462472  ...    3                446.0
2729             что    0.442450  ...    2                830.0
2890  предназначения    0.541058  ...    3                987.0
3614           ущерб    0.407845  ...    2               1684.0
3709               в    0.438774  ...    2               1795.0
3753        компании    0.438681  ...    2                  0.0

[8 rows x 23 columns]
                TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
5628              кто    0.508086  ...    3                  5.0
5633                с    0.414093  ...    2                  5.0
5784                о    0.434912  ...    3                156.0
5947  чудодейственной    0.531168  ...    2                287.0
5954              сам    0.474611  ...    2                287.0
6139        областной    0.469635  ...    2                449.0
6147          больным    0.547426  ...    2                527.0
6150                и    0.448282  ...    3                527.0
6179      современные    0.500009  ...    2                  0.0

[9 rows x 23 columns]
         TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
5567   тяжелым    0.554118  ...    3               3619.0
5664  перевели    0.590924  ...    3                  5.0
5724  перевели    0.590924  ...    3                 96.0
5821       еще    0.413930  ...    2                  0.0
5977  циклодол    0.750025  ...    2                287.0
5985     какие    0.471635  ...    2                365.0
5988  названий    0.432974  ...    3                367.0

[7 rows x 23 columns]
     TOKEN  TOKEN_VECT  IS_ANSWER  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
5830   они      0.4307          0  ...          0.696656    2                  0.0

[1 rows x 23 columns]
         TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
5614  какоинть    0.625526  ...    2                  0.0
5619        по    0.452312  ...    2                  2.0

[2 rows x 23 columns]
               TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
6214  головокружение    0.533702  ...    2                  0.0
6226         вызвать    0.496767  ...    2                  0.0
6245   агрессивности    0.557278  ...    2                  0.0
6281           лучше    0.452129  ...    3                 14.0
6335               5    0.528777  ...    3                 41.0
6338             две    0.384318  ...    3                 41.0
6435       обсуждаем    0.462631  ...    3                135.0
6454         тиаприд    0.762957  ...    2                  0.0
6501             мне    0.516435  ...    2                239.0
6510           лучше    0.452129  ...    3                243.0
6564               5    0.528777  ...    3                270.0
6567             две    0.384318  ...    3                270.0
6717           может    0.394392  ...    3                447.0
6787              от    0.390814  ...    2                521.0
7260               у    0.493165  ...    2                  0.0
7264             как    0.474905  ...    2                  0.0
7423            даже    0.540082  ...    2                  0.0
7571          сейчас    0.529911  ...    2               1277.0
7575            день    0.665330  ...    2                  0.0
7702        головные    0.531716  ...    2                  0.0
7778        сказал(а    0.496047  ...    3               1455.0
8025        абзусной    0.510714  ...    3               1722.0
8378            нпвс    0.770842  ...    2                  0.0
8404              до    0.529465  ...    3                  0.0

[24 rows x 23 columns]
           TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
6257       людей    0.354457  ...    2                  0.0
6294  поделитесь    0.515479  ...    3                 27.0
6319  сверхценно    0.643888  ...    2                 41.0
6325   выражаясь    0.459432  ...    3                 41.0
6523  поделитесь    0.515479  ...    3                256.0
6548  сверхценно    0.643888  ...    2                270.0
6554   выражаясь    0.459432  ...    3                270.0
6748         это    0.413346  ...    2                482.0
6757   запихнуть    0.575661  ...    2                482.0
6779          те    0.482940  ...    3                507.0
6794        этом    0.415908  ...    3                521.0
6824      снимал    0.629570  ...    2                  0.0
6992       долго    0.489007  ...    2                659.0
7159         как    0.474905  ...    2                870.0
7200        того    0.435633  ...    2                  0.0
7269    труксала    0.728873  ...    2                  0.0
7431          15    0.368962  ...    2                  0.0
7704        была    0.503064  ...    2                  0.0
8069          из    0.407841  ...    3               1770.0
8177       потом    0.483609  ...    2                  0.0
8236          за    0.416240  ...    3                  0.0

[21 rows x 23 columns]
              TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
6264  агрессивности    0.557278  ...    2                  2.0
6362            это    0.413346  ...    2                 90.0
6418             50    0.586747  ...    3                135.0
6488             ли    0.488292  ...    3                218.0
6493  агрессивности    0.557278  ...    2                231.0
6591            это    0.413346  ...    2                319.0
6647             50    0.586747  ...    3                341.0
6803         король    0.554078  ...    3                521.0
6806     пролактину    0.732195  ...    3                521.0
7462         недели    0.533195  ...    2                  0.0
7714         лирику    0.651729  ...    2                  0.0
7912      кветиапин    0.731697  ...    3               1609.0
8194             от    0.390814  ...    3               1884.0

[13 rows x 23 columns]
         TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
7358        08    0.496611  ...    3                  3.0
7375    эффект    0.440917  ...    2                  0.0
7380        по    0.452312  ...    2                  0.0
7385        не    0.431269  ...    2                  0.0
7407  например    0.442805  ...    2                  0.0
7484         в    0.438774  ...    2                  0.0
7603     каких    0.469433  ...    2                  0.0
7736  заявлены    0.347776  ...    2                  0.0

[8 rows x 23 columns]
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
     TOKEN  TOKEN_VECT  IS_ANSWER  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
9520  мама     0.51531          0  ...          0.726071    3                852.0

[1 rows x 23 columns]
         TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
9587  париетом    0.612381  ...    2                  0.0

[1 rows x 23 columns]
      TOKEN  TOKEN_VECT  IS_ANSWER  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
9536     но    0.461551          0  ...          0.684499    3                881.0
9751    так    0.468134          0  ...          0.636935    2                  0.0
10603    на    0.444298          1  ...          0.408353    2                  0.0

[3 rows x 23 columns]
        TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
8929  бабушка    0.502246  ...    2                  0.0
9612    может    0.394392  ...    2                  0.0

[2 rows x 23 columns]
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
        TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
11152  польза    0.588754  ...    2                  0.0

[1 rows x 23 columns]
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
        TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
11917   10:17    0.531003  ...    2                  0.0
11976    день    0.665330  ...    3                  0.0
12018    2020    0.449328  ...    2                 61.0
12020   писал    0.452827  ...    2                 61.0
12074     еще    0.413930  ...    2                116.0
12076  звонка    0.411197  ...    2                116.0

[6 rows x 23 columns]
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
        TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
12120  ирэсса    0.638689  ...    2                133.0

[1 rows x 23 columns]
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
          TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
12164  получает    0.498499  ...    2                176.0

[1 rows x 23 columns]
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
           TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
12247  лекарства    0.379903  ...    2                288.0

[1 rows x 23 columns]
      TOKEN  TOKEN_VECT  IS_ANSWER  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
12249   нас     0.52957          0  ...          0.596114    2                288.0

[1 rows x 23 columns]
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
       TOKEN  TOKEN_VECT  IS_ANSWER  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
12292  нашли    0.521602          0  ...          0.643971    2                  0.0

[1 rows x 23 columns]
            TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
13581     февраль    0.551997  ...    3                803.0
14419     побочек    0.526580  ...    3                  0.0
14601  записались    0.552466  ...    2                  0.0
14678      казани    0.586466  ...    2                  0.0
14886           к    0.400364  ...    3                  0.0

[5 rows x 23 columns]
          TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
13412  написала    0.516136  ...    3                654.0

[1 rows x 23 columns]
         TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
13021  никаких    0.457060  ...    3                263.0
13533     делу    0.459632  ...    2                780.0
13607    химия    0.551514  ...    2                803.0
13611       из    0.407841  ...    3                803.0
13724       за    0.416240  ...    2                  0.0
14545        а    0.471221  ...    2               1757.0
14605  сердцем    0.674412  ...    3               1827.0

[7 rows x 23 columns]
          TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
12640   поэтому    0.475828  ...    2                  0.0

In [ ]:
df.loc[df['SENT_NUM'] != 0.0]

In [65]:
for i in range(len(df)):
  current_raw = df.iloc[[i]].loc[df['NER'] != 0.0]
  print(current_raw)
  if i == 3:
    break

Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
        TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
2  рисперидон    0.779845  ...  1.0                  2.0

[1 rows x 23 columns]
       TOKEN  TOKEN_VECT  IS_ANSWER  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
3  рисполепт    0.797031          0  ...          0.830899  1.0                  3.0

[1 rows x 23 columns]

# **МОДЕЛИ.**

Факторизуем троковые данные, чтобы вместо строковых представлений классов были численные.

In [1404]:
for_factorize = 'ANIMACY	CASE	GENDER	PERSON	POS	DEPENDENCY	HEAD	HEAD_ANIMACY	HEAD_CASE	HEAD_GENDER	HEAD_POS'.split()
for_factorize

['ANIMACY',
 'CASE',
 'GENDER',
 'PERSON',
 'POS',
 'DEPENDENCY',
 'HEAD',
 'HEAD_ANIMACY',
 'HEAD_CASE',
 'HEAD_GENDER',
 'HEAD_POS']

In [1405]:
_, lbl = pd.factorize(df.ANIMACY)
print(lbl, )
_

Index(['inan', 'anim'], dtype='object')

array([-1,  0,  1, ..., -1, -1,  0])

Делаем словарь с маппингом, чтобы можно было достать нужное значение по индексу. В значении -1 хранится None

In [1406]:
mapping_dict = {}
for col_name in for_factorize:
  col, lbl = pd.factorize(df[col_name])
  df[col_name] = col
  mapping_dict[col_name] = lbl
mapping_dict

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

{'ANIMACY': Index(['inan', 'anim'], dtype='object'),
 'CASE': Index(['nomn', 'gent', 'datv', 'accs', 'loct', 'ablt', 'loc2', 'voct', 'gen2'], dtype='object'),
 'DEPENDENCY': Index(['ROOT', 'obj', 'appos', 'parataxis', 'conj', 'advmod', 'ccomp', 'iobj',
        'csubj', 'case', 'obl', 'det', 'nsubj', 'cc', 'discourse', 'fixed',
        'mark', 'amod', 'advcl', 'xcomp', 'nummod', 'nmod', 'nsubj:pass',
        'nummod:gov', 'cop', 'acl:relcl', 'acl', 'aux', 'flat:foreign', 'punct',
        'obl:agent', 'flat', 'aux:pass', 'orphan', 'expl', 'csubj:pass'],
       dtype='object'),
 'GENDER': Index(['masc', 'femn', 'neut'], dtype='object'),
 'HEAD': Index(['обсуждаем', 'препарат', 'рисперидон', 'рисполепт', 'знаю', 'стоило',
        'меня', 'нет', 'проблем', 'лекарством',
        ...
        'привился', 'прививки', 'решать', 'неизвестно', 'быстро', 'проводились',
        'испытания', 'аукнется', 'вакцина', 'организме'],
       dtype='object', length=2519),
 'HEAD_ANIMACY': Index(['inan', 'anim'], dtype='object'),
 'HEAD_CASE': Index(['nomn', 'gent', 'accs', 'ablt', 'datv', 'loct', 'loc2', 'voct'], dtype='object'),
 'HEAD_GENDER': Index(['masc', 'femn', 'neut'], dtype='object'),
 'HEAD_POS': Index(['VERB', 'NOUN', 'NPRO', 'PRED', 'PREP', 'INFN', 'PRTS', 'GRND', 'ADJF',
        'ADVB', 'PRCL', 'PRTF', 'CONJ', 'ADJS', 'COMP', 'INTJ', 'NUMR'],
       dtype='object'),
 'PERSON': Index(['1per', '3per', '2per'], dtype='object'),
 'POS': Index(['VERB', 'NOUN', 'PRTS', 'PRCL', 'CONJ', 'NPRO', 'INFN', 'PREP', 'ADVB',
        'PRED', 'ADJF', 'NUMR', 'GRND', 'COMP', 'PRTF', 'ADJS', 'INTJ'],
       dtype='object')}

In [1407]:

# labels_dict = {}
# test_labels_dict = {}

# for i in X.columns:
#   X[i], lbl = pd.factorize(X[i])
#   labels_dict[i] = lbl

# for i in X_test.columns:
#   X_test[i], lbl = pd.factorize(X_test[i])
#   test_labels_dict[i] = lbl 

# y = cor_df['COREFERENCE_CLUSTER']
# y, y_label = pd.factorize(y)

# y_test = cor_df_test['COREFERENCE_CLUSTER']
# y_test, y_test_label = pd.factorize(y_test)

In [1408]:
df.loc[(df['NER'] == 1.0) | (df['NER'] == 2.0 )]

            TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
2      рисперидон    0.779845  ...  1.0                  2.0
3       рисполепт    0.797031  ...  1.0                  3.0
4        сперидан    0.760111  ...  1.0                  4.0
21     лекарством    0.456023  ...  2.0                  0.0
142    рисполепта    0.731182  ...  1.0                142.0
...           ...         ...  ...  ...                  ...
12726   приходили    0.534609  ...  1.0                204.0
12785  завершению    0.453896  ...  1.0                263.0
12854           к    0.415880  ...  1.0                332.0
12876      стадию    0.542401  ...  2.0                  0.0
12879         моя    0.407910  ...  1.0                357.0

[708 rows x 23 columns]

Разделим датасет на тестовый и тренировочный. for_train, for_test

In [1409]:
# train, test = train_test_split(df.loc[(df['NER'] == 1.0) | (df['NER'] == 2.0 ) | (df['NER'] == 3.0 )], test_size=0.2)
# train, test = train_test_split(df, test_size=0.2)
train, test = train_test_split(df.loc[(df['NER'] == 2.0 ) | (df['NER'] == 3.0 )], test_size=0.2)

In [1410]:
train = train.reset_index()

In [1411]:
# train = train.iloc[:,:24].drop(['TOKEN', 'level_0', 'index'], axis=1)
# train = train.drop(['TOKEN', 'index'], axis=1)

In [1412]:
test = test.reset_index()

In [1413]:
test.head(5)

   index           TOKEN  ...  NER  COREFERENCE_CLUSTER
0   3673       препараты  ...  2.0               1795.0
1   2256      препаратов  ...  2.0                388.0
2   9144           химии  ...  2.0                  0.0
3   7336  нейролептиками  ...  2.0                  0.0
4   6526        препарат  ...  2.0                319.0

[5 rows x 24 columns]

In [1414]:
# test = test.iloc[:,:24].drop(['TOKEN', 'index'], axis=1)
# test = test.drop(['TOKEN', 'index'], axis=1)

In [1415]:
# test.loc[test['NER'] != 0]

In [1416]:
# ['TOPIC_NUM',	'POST_NUM',	'TOKEN_NUM',	'GENDER',	'PERSON', 'TOKEN', 'TOKEN_VECT', 'IS_ANSWER', 'SENT_NUM', 'HEAD_VECT', 'HEAD_CHILDS_VECT', 
#  'index', 'HEAD_ANIMACY',	'HEAD_CASE',	'HEAD_GENDER', 'ANIMACY',	'CASE',	'POS',	'DEPENDENCY',	'HEAD',	'HEAD_POS']

In [1417]:
# best set

# X, y, X_test, y_test = train.drop(['TOKEN',  'HEAD_VECT', 'POST_NUM', 'IS_ANSWER', 'PERSON', 'HEAD_CHILDS_VECT', 'TOPIC_NUM', 'CASE', 'SENT_NUM', 'DEPENDENCY',  'index', 'HEAD_ANIMACY',	'HEAD_CASE',	'HEAD_GENDER', 'ANIMACY',				'HEAD',	'HEAD_POS'], axis=1).iloc[:,:18], \
# train.COREFERENCE_CLUSTER, test.drop(['TOKEN',  'HEAD_VECT', 'POST_NUM', 'IS_ANSWER', 'PERSON', 'HEAD_CHILDS_VECT', 'TOPIC_NUM', 'CASE', 'SENT_NUM', 'DEPENDENCY',    'index', 'HEAD_ANIMACY',	'HEAD_CASE',	'HEAD_GENDER', 'ANIMACY',			'HEAD',	'HEAD_POS'], axis=1).iloc[:,:18], test.COREFERENCE_CLUSTER

Делаем наборы для обучения моделей.

In [1418]:
X, y, X_test, y_test = train.drop(['TOKEN',  'HEAD_VECT', 'POST_NUM', 'IS_ANSWER', 'PERSON', 'HEAD_CHILDS_VECT', 'TOPIC_NUM', 'CASE', 'SENT_NUM', 'DEPENDENCY',  'index', 'HEAD_ANIMACY',	'HEAD_CASE',	'HEAD_GENDER', 'ANIMACY',				'HEAD',	'HEAD_POS'], axis=1).iloc[:,:18], \
train.COREFERENCE_CLUSTER, test.drop(['TOKEN',  'HEAD_VECT', 'POST_NUM', 'IS_ANSWER', 'PERSON', 'HEAD_CHILDS_VECT', 'TOPIC_NUM', 'CASE', 'SENT_NUM', 'DEPENDENCY',    'index', 'HEAD_ANIMACY',	'HEAD_CASE',	'HEAD_GENDER', 'ANIMACY',			'HEAD',	'HEAD_POS'], axis=1).iloc[:,:18], test.COREFERENCE_CLUSTER

In [1419]:
# X, y, X_test, y_test = train.drop(['TOKEN', 'index'], axis=1).iloc[:,:24], train.COREFERENCE_CLUSTER, test.drop(['TOKEN', 'index'], axis=1).iloc[:,:24], test.COREFERENCE_CLUSTER

In [1420]:
X

     TOKEN_VECT  TOKEN_NUM  GENDER  POS  SENT_VECT  NER  COREFERENCE_CLUSTER
0      0.519055        221       0    5   0.743045  3.0                218.0
1      0.584090         84      -1   -1   0.615114  2.0                  0.0
2      0.454605         35      -1   16   0.525582  2.0                  0.0
3      0.457997         62      -1   11   0.600316  2.0                  6.0
4      0.471790       1660       1    5   0.739101  3.0               1657.0
..          ...        ...     ...  ...        ...  ...                  ...
226    0.476860       1568       1    5   0.616808  3.0               1582.0
227    0.525897        320       0    1   0.641136  2.0                663.0
228    0.468716        732       0    1   0.435643  2.0                  0.0
229    0.525897       2721       0    1   0.703564  2.0               2711.0
230    0.525897        635       0    1   0.593342  2.0                  0.0

[231 rows x 7 columns]

In [1421]:
X_test.head(10)

   TOKEN_VECT  TOKEN_NUM  GENDER  POS  SENT_VECT  NER  COREFERENCE_CLUSTER
0    0.468716       1789       0    1   0.673832  2.0               1795.0
1    0.464472        372       0    1   0.502091  2.0                388.0
2    0.556986        241       1    1   0.564593  2.0                  0.0
3    0.589178       1134       0    1   0.493534  2.0                  0.0
4    0.525897        324       0    1   0.713328  2.0                319.0
5    0.406463         72       2    1   0.584244  2.0                  0.0
6    0.459385       1032       0    1   0.497320  2.0               1081.0
7    0.505452        512       0    5   0.484634  3.0                507.0
8    0.525897        265       0    1   0.625485  2.0                287.0
9    0.525897       3113       0    1   0.519936  2.0               3125.0

In [1422]:
y

0       218.0
1         0.0
2         0.0
3         6.0
4      1657.0
        ...
226    1582.0
227     663.0
228       0.0
229    2711.0
230       0.0
Name: COREFERENCE_CLUSTER, Length: 231, dtype: float64

Обучаем модели.

In [1423]:
clf = tree.DecisionTreeClassifier(max_depth=2000, )
clf.fit(X, y)
clf.score(X_test, y_test)

0.603448275862069

In [1424]:
clf_entropy = tree.DecisionTreeClassifier(criterion='entropy', max_depth=2000)
clf_entropy.fit(X, y)
clf_entropy.score(X_test, y_test)

0.6379310344827587

In [1425]:
randf_clf = RandomForestClassifier(max_depth=3000, n_estimators=600, bootstrap=True, )
randf_clf.fit(X, y)
randf_clf.score(X_test, y_test)

0.5344827586206896

In [1426]:
regr = linear_model.LinearRegression()
regr.fit(X, y)
regr.score(X_test, y_test)

1.0

In [1427]:
from sklearn import svm

In [1428]:
svm_clf = svm.SVC(decision_function_shape='ovo', cache_size=500)
svm_clf.fit(X, y)
svm_clf.score(X_test, y_test)

0.39655172413793105

In [1429]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf = KNeighborsClassifier(n_neighbors=7, weights='distance',algorithm='ball_tree',leaf_size=40, metric='minkowski', p=1).fit(X, y)
knn_clf.score(X_test, y_test)

0.6724137931034483

In [1430]:
# from sklearn.naive_bayes import MultinomialNB
# naive_clf = MultinomialNB().fit(X, y)

# **ОЦЕНКА МОДЕЛЕЙ**

In [1431]:
def my_eval(X_predicted, y):
  
  tp = []
  fp = []
  tn = []
  fn = []

  for i in range(len(X_predicted)):
    if X_predicted[i] != 0.0:
      if X_predicted[i] == y_test[i]:
        tp.append(i)
      else:
        fp.append(i)
    # берем только те синглтоны, которые относятся к номинативным или прономинальным группам.
    elif X_predicted[i] == 0.0 and test.iloc[:,22:23].iloc[[i]].values[0][0] in (2.0, 3.0):
      if X_predicted[i] == y_test[i]:
        tn.append(i)
      else:
        fn.append(i)
  try:
    P = len(tp)/(len(tp) + len(fp))
  except ZeroDivisionError:
    P = 0
  try:
    R = len(tp)/(len(tp) + len(fn))
  except ZeroDivisionError:
    R = 0
  try:
    F = 2*P*R/(P+R)
  except ZeroDivisionError:
    F = 0

  print(len(tp), ' true positive')
  print(len(fp), ' false positive')
  print(len(tn), ' true negative')
  print(len(fn), ' false negative')
  print('---------')
  print(P,' presicion')
  print(R, ' recall')
  print(F, ' f-score')

In [1432]:
pred = clf.predict(X_test)
pred_randf = randf_clf.predict(X_test)
pred_entropy = clf_entropy.predict(X_test)
pred_regr = regr.predict(X_test)
pred_svm = svm_clf.predict(X_test)
pred_knn = knn_clf.predict(X_test)
# naive_pred = naive_clf.predict(X_test)

In [1433]:
# my_eval(list(naive_pred), list(y_test))

In [1434]:
my_eval(list(pred_knn), list(y_test))

17  true positive
17  false positive
22  true negative
2  false negative
---------
0.5  presicion
0.8947368421052632  recall
0.6415094339622641  f-score

In [1435]:
my_eval(list(pred_entropy), list(y_test))

14  true positive
20  false positive
23  true negative
1  false negative
---------
0.4117647058823529  presicion
0.9333333333333333  recall
0.5714285714285713  f-score

In [1436]:
my_eval(list(pred), list(y_test))

12  true positive
22  false positive
23  true negative
1  false negative
---------
0.35294117647058826  presicion
0.9230769230769231  recall
0.5106382978723405  f-score

In [1437]:
my_eval(list(pred_randf), list(y_test))

8  true positive
26  false positive
23  true negative
1  false negative
---------
0.23529411764705882  presicion
0.8888888888888888  recall
0.3720930232558139  f-score

In [1438]:
my_eval(list(pred_regr), list(y_test))

2  true positive
56  false positive
0  true negative
0  false negative
---------
0.034482758620689655  presicion
1.0  recall
0.06666666666666667  f-score

In [1439]:
my_eval(list(pred_svm), list(y_test))

0  true positive
12  false positive
23  true negative
23  false negative
---------
0.0  presicion
0.0  recall
0  f-score