<a href="https://colab.research.google.com/github/DmitryKutsev/cross-document_coreference/blob/main/classifiers/ml_classifiers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Импорт**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from IPython.display import SVG, display, HTML

In [3]:
from google.colab import drive
drive.mount('./content', force_remount=False)

Mounted at ./content

In [4]:
from graphviz import Source
from sklearn import tree, svm, linear_model
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [5]:
!ls
import os
for i in os.listdir('content/'):
  print(i)

content  sample_data
.file-revisions-by-id
.shortcut-targets-by-id
MyDrive
.Trash

In [6]:
import csv
import re
from google.colab import files
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

## **Обработка данных**

In [7]:
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/coref_df_anns60k.csv
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/new_anns60k.csv

--2021-05-22 22:01:00--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/coref_df_anns60k.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 404 Not Found
2021-05-22 22:01:00 ERROR 404: Not Found.

--2021-05-22 22:01:00--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/new_anns60k.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1192227 (1.1M) [text/plain]
Saving to: ‘new_anns60k.csv’

new_anns60k.csv     100%[===================>]   1.14M  --.-KB/s    in 0.07s

2021-05-22 22:01:01 (17.1 MB/s) - ‘new_anns60k.csv’ saved [1192227/1192227]

Обработка битых символов, чтобы pandas мог открыть таблицу.

In [8]:
# with open('coref_df_anns60k.csv') as csvfile:
with open('new_anns60k.csv') as csvfile:
  reader = csv.reader(csvfile, delimiter='\t')
  with open('new_df_anns60k.csv', 'w') as write_file:
    writer = csv.writer(write_file, delimiter='\t')
    c = 0
    for row in reader:
      new_row = [i if i and not re.match(r'\t+?', i) else 0 for i in row]
      if len(new_row) > 9:
        new_row = new_row[:9]
      writer.writerow(new_row)

In [9]:
# anns_df = pd.read_csv('coref_df_anns60k.csv', delimiter='\t', error_bad_lines=False, header=None)
anns_df = pd.read_csv('new_df_anns60k.csv', delimiter='\t')

Проверим данные

In [10]:
anns_df

            TOKEN  TOPIC_NUM  POST_NUM  ...        HEAD  NER  COREFERENCE_CLUSTER
0       обсуждаем        1.0       0.0  ...   обсуждаем  0.0                  0.0
1        препарат        1.0       0.0  ...   обсуждаем  0.0                  0.0
2      рисперидон        1.0       0.0  ...    препарат  1.0                  2.0
3       рисполепт        1.0       0.0  ...  рисперидон  1.0                  3.0
4        сперидан        1.0       0.0  ...   рисполепт  1.0                  4.0
...           ...        ...       ...  ...         ...  ...                  ...
15405           0        0.0       0.0  ...         NaN  NaN                  NaN
15406           0        0.0       0.0  ...         NaN  NaN                  NaN
15407           0        0.0       0.0  ...         NaN  NaN                  NaN
15408           0        0.0       0.0  ...         NaN  NaN                  NaN
15409           0        NaN       NaN  ...         NaN  NaN                  NaN

[15410 rows x 9 columns]

In [11]:
import numpy as np

In [12]:
cor_df = pd.read_csv('content/MyDrive/coref_fasttext60k.csv', delimiter=' ')
cor_df

            TOKEN  ... COREFERENCE_CLUSTER
0       обсуждаем  ...                   0
1        препарат  ...                   0
2      рисперидон  ...                   0
3       рисполепт  ...                   0
4        сперидан  ...                   0
...           ...  ...                 ...
26492           и  ...                   0
26493  таможенные  ...                   0
26494     пошлины  ...                   0
26495         как  ...                   0
26496      светка  ...                   0

[26497 rows x 23 columns]

In [13]:
cosine_similarity([np.matrix(cor_df.TOKEN_VECT[2]).A[0]], [np.matrix(cor_df.TOKEN_VECT[3]).A[0]])[-1][-1]

0.8436395154681279

# **VECTORS HANDLING**

Изменяем значения векторов предложений, главного слова группы, зависимых слов группы, и токена на косинусную дистанцию с семантической осью.

Сначала, изменим строковое представление на массив.

In [14]:
cor_df.TOKEN_VECT = [np.matrix(i).A[0] for i in cor_df.TOKEN_VECT]
cor_df.HEAD_VECT = [np.matrix(i).A[0] for i in cor_df.HEAD_VECT]
cor_df.SENT_VECT = [np.matrix(i).A[0] for i in cor_df.SENT_VECT]
cor_df.HEAD_CHILDS_VECT = [np.matrix(i).A[0] for i in cor_df.HEAD_CHILDS_VECT]

Добавим размеченные данные, и посмотрим, что получилось.

In [15]:
cor_df['NER'] = anns_df['NER']
cor_df['COREFERENCE_CLUSTER'] = anns_df['COREFERENCE_CLUSTER']
# cor_df

Ограничим датафрейм теми данными, которые были размечены, чтобы была возможность провести оценку системы.

In [344]:
df = cor_df.iloc[:13000,:]

In [345]:
df

            TOKEN  ... COREFERENCE_CLUSTER
0       обсуждаем  ...                 0.0
1        препарат  ...                 0.0
2      рисперидон  ...                 2.0
3       рисполепт  ...                 3.0
4        сперидан  ...                 4.0
...           ...  ...                 ...
12995        hifu  ...                 0.0
12996     терапию  ...                 0.0
12997           и  ...                 0.0
12998   подскажет  ...                 0.0
12999         что  ...                 0.0

[13000 rows x 23 columns]

Всего наименований препаратов размечено (это не обязательно антецеденты, любое название препарата).

In [346]:
len(df.loc[df['NER'] == 1])

513

Из них местоимений (прономинальные анафоры).

In [347]:
len(df.loc[df['NER'] == 3])

94

И номинативные анафоры существительные, такие как "препарат" и "лекарство". В основном это они и есть.

In [348]:
len(df.loc[df['NER'] == 2])

195

In [349]:
len(df.loc[df['NER'].isin([1,2,3])])

802

In [350]:
# df['NER'] = [int(i) for i in df['NER']]
# df['COREFERENCE_CLUSTER'] = [int(i) for i in df['COREFERENCE_CLUSTER']]

Посмотрим на данные.

In [351]:
df.loc[df['NER'].isin([1,2,3])]

            TOKEN  ... COREFERENCE_CLUSTER
2      рисперидон  ...                 2.0
3       рисполепт  ...                 3.0
4        сперидан  ...                 4.0
21     лекарством  ...                 0.0
142    рисполепта  ...               142.0
...           ...  ...                 ...
12785  завершению  ...               263.0
12791      нашему  ...               263.0
12854           к  ...               332.0
12876      стадию  ...                 0.0
12879         моя  ...               357.0

[802 rows x 23 columns]

# **SEMANTIC AXIS**

Реализация метода семантических осей.
Сначала, выбираем первые предложения каждого топика. Посмотрим на них.

In [352]:
axis_df = df.query('POST_NUM == 0 and TOKEN_NUM == 2 and SENT_NUM == 0')
axis_df

             TOKEN  ... COREFERENCE_CLUSTER
2       рисперидон  ...                 2.0
576        зелдокс  ...                 2.0
1870     оланзапин  ...                 2.0
5555   галоперидол  ...                 2.0
6200       тиаприд  ...                 3.0
8450     сероквель  ...                 2.0
8541          день  ...                 0.0
11117          500  ...                 0.0
11787  капецитабин  ...                 0.0
11806       иресса  ...                 0.0
12118        очень  ...                 0.0
12200        очень  ...                 0.0

[12 rows x 23 columns]

In [353]:
# sum(df.query('POST_NUM == 0 and TOKEN_NUM == 2 and SENT_NUM == 0').TOKEN_VECT)/len(df.query('POST_NUM == 0 and TOKEN_NUM == 2 and SENT_NUM == 0').TOKEN_VECT)

Суммируем верктора токенов, главных слов, предложения целиком, и зависимых слов. Нормализуем.

In [354]:

token_axe = sum(axis_df.TOKEN_VECT)/len(axis_df.TOKEN_VECT)
head_axe = sum(axis_df.HEAD_VECT)/len(axis_df.HEAD_VECT)
head_childs_axe = sum(axis_df.HEAD_CHILDS_VECT)/len(axis_df.HEAD_CHILDS_VECT)
sent_axe = sum(axis_df.SENT_VECT)/len(axis_df.SENT_VECT)

In [355]:
df.TOKEN_VECT[710]

array([nan])

Функция, которая заменяет столбец с векторами на столбец со значениями косинусной дистанции с соответствующей семантической осью.

In [356]:
def make_similarity(df, col, axe):
  new_col = []
  for ind, vect in enumerate(df[col]):
    try:
      new_col.append(cosine_similarity([axe], [vect])[-1][-1])
    except ValueError:
      new_col.append(0)
  df[col] = new_col

In [357]:
make_similarity(df, 'TOKEN_VECT', token_axe)
make_similarity(df, 'HEAD_VECT', head_axe)
make_similarity(df, 'HEAD_CHILDS_VECT', head_childs_axe)
make_similarity(df, 'SENT_VECT', sent_axe)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Посмотрим на данные.

In [358]:
df

            TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
0       обсуждаем    0.464646  ...  0.0                  0.0
1        препарат    0.506963  ...  0.0                  0.0
2      рисперидон    0.799171  ...  1.0                  2.0
3       рисполепт    0.799122  ...  1.0                  3.0
4        сперидан    0.767995  ...  1.0                  4.0
...           ...         ...  ...  ...                  ...
12995        hifu    0.502863  ...  0.0                  0.0
12996     терапию    0.460462  ...  0.0                  0.0
12997           и    0.421848  ...  0.0                  0.0
12998   подскажет    0.472722  ...  0.0                  0.0
12999         что    0.414973  ...  0.0                  0.0

[13000 rows x 23 columns]

In [359]:
df.describe()

         TOKEN_VECT     IS_ANSWER  ...           NER  COREFERENCE_CLUSTER
count  13000.000000  13000.000000  ...  13000.000000         13000.000000
mean       0.480690      0.832538  ...      0.091154            55.267615
std        0.092710      0.373402  ...      0.395274           316.869244
min       -0.043571      0.000000  ...      0.000000             0.000000
25%        0.415826      1.000000  ...      0.000000             0.000000
50%        0.465431      1.000000  ...      0.000000             0.000000
75%        0.530893      1.000000  ...      0.000000             0.000000
max        0.833344      1.000000  ...      3.000000          3653.000000

[8 rows x 11 columns]

## **Модели. Обучение, оценка.**

Факторизуем троковые данные, чтобы вместо строковых представлений классов были численные.

In [360]:
for_factorize = 'ANIMACY	CASE	GENDER	PERSON	POS	DEPENDENCY	HEAD	HEAD_ANIMACY	HEAD_CASE	HEAD_GENDER	HEAD_POS'.split()
for_factorize

['ANIMACY',
 'CASE',
 'GENDER',
 'PERSON',
 'POS',
 'DEPENDENCY',
 'HEAD',
 'HEAD_ANIMACY',
 'HEAD_CASE',
 'HEAD_GENDER',
 'HEAD_POS']

In [361]:
_, lbl = pd.factorize(df.ANIMACY)
print(lbl, )
_

Index(['inan', 'anim'], dtype='object')

array([-1,  0,  1, ..., -1, -1, -1])

Делаем словарь с маппингом, чтобы можно было достать нужное значение по индексу. В значении -1 хранится None

In [362]:
mapping_dict = {}
for col_name in for_factorize:
  col, lbl = pd.factorize(df[col_name])
  df[col_name] = col
  mapping_dict[col_name] = lbl
mapping_dict

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

{'ANIMACY': Index(['inan', 'anim'], dtype='object'),
 'CASE': Index(['nomn', 'gent', 'datv', 'accs', 'loct', 'ablt', 'loc2', 'voct'], dtype='object'),
 'DEPENDENCY': Index(['ROOT', 'obj', 'appos', 'parataxis', 'conj', 'advmod', 'ccomp', 'iobj',
        'csubj', 'case', 'obl', 'det', 'nsubj', 'cc', 'discourse', 'fixed',
        'mark', 'amod', 'advcl', 'xcomp', 'nummod', 'nmod', 'nsubj:pass',
        'nummod:gov', 'cop', 'acl:relcl', 'acl', 'aux', 'flat:foreign', 'punct',
        'obl:agent', 'flat', 'aux:pass', 'orphan', 'expl', 'csubj:pass'],
       dtype='object'),
 'GENDER': Index(['masc', 'femn', 'neut'], dtype='object'),
 'HEAD': Index(['обсуждаем', 'препарат', 'рисперидон', 'рисполепт', 'знаю', 'стоило',
        'меня', 'нет', 'проблем', 'лекарством',
        ...
        'химиотерапию', 'который', 'инореканом', 'нибудь', 'отзовитесь',
        'методе', 'благодарна', 'инорекане', 'отзывам', 'масловы'],
       dtype='object', length=2366),
 'HEAD_ANIMACY': Index(['inan', 'anim'], dtype='object'),
 'HEAD_CASE': Index(['nomn', 'gent', 'accs', 'ablt', 'datv', 'loct', 'loc2', 'voct'], dtype='object'),
 'HEAD_GENDER': Index(['masc', 'femn', 'neut'], dtype='object'),
 'HEAD_POS': Index(['VERB', 'NOUN', 'NPRO', 'PRED', 'PREP', 'INFN', 'PRTS', 'GRND', 'ADJF',
        'ADVB', 'PRCL', 'PRTF', 'CONJ', 'ADJS', 'COMP', 'INTJ', 'NUMR'],
       dtype='object'),
 'PERSON': Index(['1per', '3per', '2per'], dtype='object'),
 'POS': Index(['VERB', 'NOUN', 'PRTS', 'PRCL', 'CONJ', 'NPRO', 'INFN', 'PREP', 'ADVB',
        'PRED', 'ADJF', 'NUMR', 'GRND', 'COMP', 'PRTF', 'ADJS', 'INTJ'],
       dtype='object')}

In [363]:

# labels_dict = {}
# test_labels_dict = {}

# for i in X.columns:
#   X[i], lbl = pd.factorize(X[i])
#   labels_dict[i] = lbl

# for i in X_test.columns:
#   X_test[i], lbl = pd.factorize(X_test[i])
#   test_labels_dict[i] = lbl 

# y = cor_df['COREFERENCE_CLUSTER']
# y, y_label = pd.factorize(y)

# y_test = cor_df_test['COREFERENCE_CLUSTER']
# y_test, y_test_label = pd.factorize(y_test)

In [364]:
df.loc[(df['NER'] == 1.0) | (df['NER'] == 2.0 )]

            TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
2      рисперидон    0.799171  ...  1.0                  2.0
3       рисполепт    0.799122  ...  1.0                  3.0
4        сперидан    0.767995  ...  1.0                  4.0
21     лекарством    0.435640  ...  2.0                  0.0
142    рисполепта    0.726008  ...  1.0                142.0
...           ...         ...  ...  ...                  ...
12726   приходили    0.505865  ...  1.0                204.0
12785  завершению    0.405717  ...  1.0                263.0
12854           к    0.380843  ...  1.0                332.0
12876      стадию    0.504984  ...  2.0                  0.0
12879         моя    0.406641  ...  1.0                357.0

[708 rows x 23 columns]

Разделим датасет на тестовый и тренировочный. for_train, for_test

In [365]:
# train, test = train_test_split(df.loc[(df['NER'] == 1.0) | (df['NER'] == 2.0 ) | (df['NER'] == 3.0 )], test_size=0.2)
# train, test = train_test_split(df, test_size=0.2)
train, test = train_test_split(df.loc[(df['NER'] == 2.0 ) | (df['NER'] == 3.0 )], test_size=0.2)

In [366]:
train = train.reset_index()

In [367]:
# train = train.iloc[:,:24].drop(['TOKEN', 'level_0', 'index'], axis=1)
# train = train.drop(['TOKEN', 'index'], axis=1)

In [368]:
test = test.reset_index()

In [369]:
test.head(5)

   index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
0   5987  лекарства    0.381482  ...          0.921520  2.0                  0.0
1  12695          и    0.421848  ...          0.541925  3.0                165.0
2   6270         он    0.486446  ...          0.637224  3.0                 41.0
3   7971        его    0.492534  ...          0.623159  3.0               1770.0
4   5882  лекарства    0.381482  ...          0.540911  2.0                287.0

[5 rows x 24 columns]

In [370]:
# test = test.iloc[:,:24].drop(['TOKEN', 'index'], axis=1)
# test = test.drop(['TOKEN', 'index'], axis=1)

In [371]:
# test.loc[test['NER'] != 0]

In [372]:
train.loc[(train['NER'] == 1.0) | (train['NER'] == 2.0 )]

     index           TOKEN  ...  NER  COREFERENCE_CLUSTER
1     1662        препарат  ...  2.0               1081.0
2    11399             ног  ...  2.0                301.0
4    10079           химию  ...  2.0                  0.0
6      366       препарата  ...  2.0                344.0
7     7405    нейролептика  ...  2.0                  0.0
..     ...             ...  ...  ...                  ...
225   8987              хт  ...  2.0                  0.0
226    421        препарат  ...  2.0                  2.0
227   8667  спазмолитиками  ...  2.0                  0.0
229  10037           химию  ...  2.0                  0.0
230   3343        таблетки  ...  2.0               1473.0

[157 rows x 24 columns]

In [373]:
# ['TOPIC_NUM',	'POST_NUM',	'TOKEN_NUM',	'GENDER',	'PERSON', 'TOKEN', 'TOKEN_VECT', 'IS_ANSWER', 'SENT_NUM', 'HEAD_VECT', 'HEAD_CHILDS_VECT', 
#  'index', 'HEAD_ANIMACY',	'HEAD_CASE',	'HEAD_GENDER', 'ANIMACY',	'CASE',	'POS',	'DEPENDENCY',	'HEAD',	'HEAD_POS']

Делаем наборы для обучения моделей.

In [374]:
X, y, X_test, y_test = train.drop(['POST_NUM',	'SENT_NUM', 'TOKEN','IS_ANSWER',  'HEAD_VECT', 'HEAD_CHILDS_VECT', 'index', 'HEAD_ANIMACY',	'HEAD_CASE',	'HEAD_GENDER', 'ANIMACY',	'CASE',		'DEPENDENCY',	'HEAD',	'HEAD_POS'], axis=1).iloc[:,:18], \
train.COREFERENCE_CLUSTER, test.drop([ 'POST_NUM', 	'SENT_NUM', 'TOKEN', 'IS_ANSWER',  'HEAD_VECT', 'HEAD_CHILDS_VECT', 'index', 'HEAD_ANIMACY',	'HEAD_CASE',	'HEAD_GENDER', 'ANIMACY',	'CASE',		'DEPENDENCY',	'HEAD',	'HEAD_POS'], axis=1).iloc[:,:18], test.COREFERENCE_CLUSTER

In [375]:
# X, y, X_test, y_test = train.drop(['TOKEN', 'index'], axis=1).iloc[:,:24], train.COREFERENCE_CLUSTER, test.drop(['TOKEN', 'index'], axis=1).iloc[:,:24], test.COREFERENCE_CLUSTER

In [376]:
X

     TOKEN_VECT  TOPIC_NUM  TOKEN_NUM  ...  SENT_VECT  NER  COREFERENCE_CLUSTER
0      0.403431          5        539  ...   0.539287  3.0                521.0
1      0.506963          2        997  ...   0.682645  2.0               1081.0
2      0.449428          9         15  ...   0.470542  2.0                301.0
3      0.490864          2        160  ...   0.539796  3.0                182.0
4      0.567718          7       1176  ...   0.429914  2.0                  0.0
..          ...        ...        ...  ...        ...  ...                  ...
226    0.506963          1        141  ...   0.602804  2.0                  2.0
227    0.546850          7         12  ...   0.630372  2.0                  0.0
228    0.492534          3       2017  ...   0.818542  3.0               2031.0
229    0.567718          7       1134  ...   0.577570  2.0                  0.0
230    0.499974          3       1459  ...   0.606668  2.0               1473.0

[231 rows x 9 columns]

In [377]:
X_test.head(10)

   TOKEN_VECT  TOPIC_NUM  TOKEN_NUM  ...  SENT_VECT  NER  COREFERENCE_CLUSTER
0    0.381482          4        363  ...   0.670210  2.0                  0.0
1    0.421848         15          8  ...   0.634421  3.0                165.0
2    0.486446          5         68  ...   0.619078  3.0                 41.0
3    0.492534          5       1769  ...   0.597164  3.0               1770.0
4    0.381482          4        258  ...   0.456293  2.0                287.0
5    0.427066          5       2127  ...   0.454711  2.0                  0.0
6    0.408908         11         21  ...   0.537527  2.0                133.0
7    0.444235          3       3618  ...   0.486946  3.0               3619.0
8    0.396613          4        368  ...   0.799615  3.0                  0.0
9    0.486446          3       3255  ...   0.671927  3.0               3270.0

[10 rows x 9 columns]

In [378]:
y

0       521.0
1      1081.0
2       301.0
3       182.0
4         0.0
        ...
226       2.0
227       0.0
228    2031.0
229       0.0
230    1473.0
Name: COREFERENCE_CLUSTER, Length: 231, dtype: float64

Обучаем модели.

In [379]:
clf = tree.DecisionTreeClassifier(max_depth=2000, )
clf.fit(X, y)
clf.score(X_test, y_test),

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=2000, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [380]:
clf_entropy = tree.DecisionTreeClassifier(criterion='entropy', max_depth=2000)
clf_entropy.fit(X, y)
clf_entropy.score(X_test, y_test)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=2000, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [381]:
randf_clf = RandomForestClassifier(max_depth=3000, n_estimators=600, min_samples_split=2, bootstrap=True, )
randf_clf.fit(X, y)
randf_clf.score(X_test, y_test)

0.4827586206896552

In [382]:
regr = linear_model.LinearRegression()
regr.fit(X, y)
regr.score(X_test, y_test)

1.0

In [331]:
from sklearn import svm

In [384]:
svm_clf = svm.SVC(decision_function_shape='ovo', cache_size=500)
svm_clf.fit(X, y)
svm_clf.score(X_test, y_test)

0.3275862068965517

In [386]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf = KNeighborsClassifier(n_neighbors=10, weights='distance',algorithm='kd_tree', leaf_size=1000, p=1).fit(X, y)
knn_clf.score(X_test, y_test)

0.6379310344827587

In [387]:
# from sklearn.naive_bayes import MultinomialNB
# naive_clf = MultinomialNB().fit(X, y)

Функция для оценки моделей

In [388]:
def my_eval(X_predicted, y):
  
  tp = []
  fp = []
  tn = []
  fn = []

  for i in range(len(X_predicted)):
    if X_predicted[i] != 0.0:
      if X_predicted[i] == y_test[i]:
        tp.append(i)
      else:
        fp.append(i)
    # берем только те синглтоны, которые относятся к номинативным или прономинальным группам.
    elif X_predicted[i] == 0.0 and test.iloc[:,22:23].iloc[[i]].values[0][0] in (2.0, 3.0):
      if X_predicted[i] == y_test[i]:
        tn.append(i)
      else:
        fn.append(i)
  try:
    P = len(tp)/(len(tp) + len(fp))
  except ZeroDivisionError:
    P = 0
  try:
    R = len(tp)/(len(tp) + len(fn))
  except ZeroDivisionError:
    R = 0
  try:
    F = 2*P*R/(P+R)
  except ZeroDivisionError:
    F = 0

  print(len(tp), ' true positive')
  print(len(fp), ' false positive')
  print(len(tn), ' true negative')
  print(len(fn), ' false negative')
  print('---------')
  print(P,' presicion')
  print(R, ' recall')
  print(F, ' f-score')

In [389]:
pred = clf.predict(X_test)
pred_randf = randf_clf.predict(X_test)
pred_entropy = clf_entropy.predict(X_test)
pred_regr = regr.predict(X_test)
pred_svm = svm_clf.predict(X_test)
pred_knn = knn_clf.predict(X_test)
# naive_pred = naive_clf.predict(X_test)

In [390]:
# my_eval(list(naive_pred), list(y_test))

In [391]:
my_eval(list(pred_knn), list(y_test))

18  true positive
18  false positive
19  true negative
3  false negative
---------
0.5  presicion
0.8571428571428571  recall
0.631578947368421  f-score

In [392]:
my_eval(list(pred), list(y_test))

15  true positive
24  false positive
19  true negative
0  false negative
---------
0.38461538461538464  presicion
1.0  recall
0.5555555555555556  f-score

In [393]:
my_eval(list(pred_randf), list(y_test))

9  true positive
30  false positive
19  true negative
0  false negative
---------
0.23076923076923078  presicion
1.0  recall
0.375  f-score

In [394]:
my_eval(list(pred_entropy), list(y_test))

17  true positive
22  false positive
19  true negative
0  false negative
---------
0.4358974358974359  presicion
1.0  recall
0.6071428571428571  f-score

In [395]:
my_eval(list(pred_regr), list(y_test))

0  true positive
58  false positive
0  true negative
0  false negative
---------
0.0  presicion
0  recall
0  f-score

In [396]:
my_eval(list(pred_svm), list(y_test))

0  true positive
15  false positive
19  true negative
24  false negative
---------
0.0  presicion
0.0  recall
0  f-score