<a href="https://colab.research.google.com/github/DmitryKutsev/cross-document_coreference/blob/main/classifiers/new_decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from IPython.display import SVG, display, HTML

In [3]:
from google.colab import drive
drive.mount('./content', force_remount=False)

Mounted at ./content

In [4]:
!ls
import os
for i in os.listdir('content/'):
  print(i)

content  sample_data
.file-revisions-by-id
MyDrive
.shortcut-targets-by-id
.Trash

In [5]:
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/coref_df_anns60k.csv
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/new_anns60k.csv

--2021-05-16 08:26:20--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/coref_df_anns60k.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1162863 (1.1M) [text/plain]
Saving to: ‘coref_df_anns60k.csv’

coref_df_anns60k.cs 100%[===================>]   1.11M  --.-KB/s    in 0.02s

2021-05-16 08:26:20 (49.6 MB/s) - ‘coref_df_anns60k.csv’ saved [1162863/1162863]

--2021-05-16 08:26:20--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/new_anns60k.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1191562 (1.1M) [text/plain]
Saving to: ‘new_anns60k.csv’

new_anns60k.csv     100%[===================>]   1.14M  --.-KB/s    in 0.03s

2021-05-16 08:26:20 (44.0 MB/s) - ‘new_anns60k.csv’ saved [1191562/1191562]

In [22]:
import csv
import re

In [30]:
with open('coref_df_anns60k.csv') as csvfile:
  reader = csv.reader(csvfile, delimiter='\t')
  with open('new_df_anns60k.csv', 'w') as write_file:
    writer = csv.writer(write_file, delimiter='\t')
    c = 0
    for row in reader:
      new_row = [i if i and not re.match(r'\t+?', i) else '0' for i in row]
      # print(new_row)
      if len(new_row) > 9:
        # print(new_row[:9])
        new_row = new_row[:9]
      writer.writerow(new_row)
  





    # print(len(row))
    # [print('aaa') for i in row if not i]
    # c += 1
    # if c > 3:
    #   break

In [31]:
!ls

content  coref_df_anns60k.csv  new_anns60k.csv	new_df_anns60k.csv  sample_data

In [32]:
# anns_df = pd.read_csv('coref_df_anns60k.csv', delimiter='\t', error_bad_lines=False, header=None)
anns_df = pd.read_csv('new_df_anns60k.csv', delimiter='\t')

In [33]:
anns_df

            TOKEN  TOPIC_NUM  POST_NUM  ...        HEAD  NER  COREFERENCE_CLUSTER
0       обсуждаем          1         0  ...   обсуждаем    0                  0.0
1        препарат          1         0  ...   обсуждаем    0                  0.0
2      рисперидон          1         0  ...    препарат    1                  2.0
3       рисполепт          1         0  ...  рисперидон    1                  3.0
4        сперидан          1         0  ...   рисполепт    1                  4.0
...           ...        ...       ...  ...         ...  ...                  ...
26492           и         22        68  ...     пошлины    0                  0.0
26493  таможенные         22        68  ...     пошлины    0                  0.0
26494     пошлины         22        68  ...        есть    0                  0.0
26495         как         22        68  ...        есть    0                  0.0
26496      светка         22        69  ...      светка    0                  0.0

[26497 rows x 9 columns]

In [34]:
cor_df = pd.read_csv('content/MyDrive/coref_fasttext60k.csv', delimiter=' ')

In [35]:
cor_df

            TOKEN  ... COREFERENCE_CLUSTER
0       обсуждаем  ...                   0
1        препарат  ...                   0
2      рисперидон  ...                   0
3       рисполепт  ...                   0
4        сперидан  ...                   0
...           ...  ...                 ...
26492           и  ...                   0
26493  таможенные  ...                   0
26494     пошлины  ...                   0
26495         как  ...                   0
26496      светка  ...                   0

[26497 rows x 23 columns]

In [ ]:
cor_df.isnull().sum()

In [ ]:
cor_df = cor_df.iloc[:-5,:]
cor_df_test = cor_df.iloc[-5:-1,:]
cor_df = cor_df.drop(['Unnamed: 17', 'Unnamed: 18'], axis=1)
cor_df_test  = cor_df_test .drop(['Unnamed: 17', 'Unnamed: 18'], axis=1)

In [ ]:
cor_df_test = cor_df_test.reset_index()
cor_df_test = cor_df_test.drop(['index'], axis=1)

In [ ]:
cor_df_test = cor_df_test.drop(['level_0'], axis=1)
cor_df_test

In [ ]:
cor_df

In [ ]:
X = cor_df.drop(['COREFERENCE_CLUSTER', 'NER', 'TOKEN'], axis=1)
X_test = cor_df_test.drop(['COREFERENCE_CLUSTER', 'NER', 'TOKEN'], axis=1)
labels_dict = {}
test_labels_dict = {}

for i in X.columns:
  X[i], lbl = pd.factorize(X[i])
  labels_dict[i] = lbl

for i in X_test.columns:
  X_test[i], lbl = pd.factorize(X_test[i])
  test_labels_dict[i] = lbl 

y = cor_df['COREFERENCE_CLUSTER']
y, y_label = pd.factorize(y)

y_test = cor_df_test['COREFERENCE_CLUSTER']
y_test, y_test_label = pd.factorize(y_test)

In [ ]:
y

In [ ]:
len(y)

In [ ]:
label[-1]

In [ ]:
uniques

In [ ]:
X

In [ ]:
labels_dict['HEAD_POS']

In [ ]:
clf = tree.DecisionTreeClassifier()
clf.fit(X, y)

In [ ]:
clf_ent = tree.DecisionTreeClassifier(criterion='entropy')
clf_ent.fit(X, y)

In [ ]:
from graphviz import Source
from sklearn import tree

In [ ]:
# tree.plot_tree(clf)

In [ ]:
# graph = Source(tree.export_graphviz(clf, out_file=None, 
#                                     feature_names=list(X), class_names=uniques, filled=True))

# display(SVG(graph.pipe(format='svg')))

In [ ]:
clf.predict(X_test)

In [ ]:
y_test

In [ ]:
X_test