<a href="https://colab.research.google.com/github/DmitryKutsev/cross-document_coreference/blob/main/classifiers/new_decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from IPython.display import SVG, display, HTML

In [3]:
from google.colab import drive
drive.mount('./content', force_remount=False)

Mounted at ./content

In [4]:
!ls
import os
for i in os.listdir('content/'):
  print(i)

content  sample_data
.file-revisions-by-id
MyDrive
.shortcut-targets-by-id
.Trash

In [5]:
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/coref_df_anns60k.csv
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/new_anns60k.csv

--2021-05-16 08:26:20--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/coref_df_anns60k.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1162863 (1.1M) [text/plain]
Saving to: ‘coref_df_anns60k.csv’

coref_df_anns60k.cs 100%[===================>]   1.11M  --.-KB/s    in 0.02s

2021-05-16 08:26:20 (49.6 MB/s) - ‘coref_df_anns60k.csv’ saved [1162863/1162863]

--2021-05-16 08:26:20--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/new_anns60k.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1191562 (1.1M) [text/plain]
Saving to: ‘new_anns60k.csv’

new_anns60k.csv     100%[===================>]   1.14M  --.-KB/s    in 0.03s

2021-05-16 08:26:20 (44.0 MB/s) - ‘new_anns60k.csv’ saved [1191562/1191562]

In [73]:
import csv
import re
from google.colab import files
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
with open('coref_df_anns60k.csv') as csvfile:
  reader = csv.reader(csvfile, delimiter='\t')
  with open('new_df_anns60k.csv', 'w') as write_file:
    writer = csv.writer(write_file, delimiter='\t')
    c = 0
    for row in reader:
      new_row = [i if i and not re.match(r'\t+?', i) else '0' for i in row]
      # print(new_row)
      if len(new_row) > 9:
        # print(new_row[:9])
        new_row = new_row[:9]
      writer.writerow(new_row)

In [39]:
files.download('new_df_anns60k.csv')

In [32]:
# anns_df = pd.read_csv('coref_df_anns60k.csv', delimiter='\t', error_bad_lines=False, header=None)
anns_df = pd.read_csv('new_df_anns60k.csv', delimiter='\t')

In [33]:
anns_df

            TOKEN  TOPIC_NUM  POST_NUM  ...        HEAD  NER  COREFERENCE_CLUSTER
0       обсуждаем          1         0  ...   обсуждаем    0                  0.0
1        препарат          1         0  ...   обсуждаем    0                  0.0
2      рисперидон          1         0  ...    препарат    1                  2.0
3       рисполепт          1         0  ...  рисперидон    1                  3.0
4        сперидан          1         0  ...   рисполепт    1                  4.0
...           ...        ...       ...  ...         ...  ...                  ...
26492           и         22        68  ...     пошлины    0                  0.0
26493  таможенные         22        68  ...     пошлины    0                  0.0
26494     пошлины         22        68  ...        есть    0                  0.0
26495         как         22        68  ...        есть    0                  0.0
26496      светка         22        69  ...      светка    0                  0.0

[26497 rows x 9 columns]

In [78]:
import numpy as np

In [34]:
cor_df = pd.read_csv('content/MyDrive/coref_fasttext60k.csv', delimiter=' ')

In [81]:

np.matrix(cor_df.HEAD_VECT[0]).A[0]

array([-2.08233938e-01,  9.96180058e-01, -2.79894114e-01, -9.09143448e-01,
        3.49961907e-01,  1.22820950e+00, -4.53999013e-01, -4.96644318e-01,
       -5.06227851e-01, -3.50297660e-01, -2.68426925e-01, -3.18647206e-01,
       -4.94759202e-01, -4.05789405e-01, -6.19022734e-02,  5.76916397e-01,
        6.45665407e-01, -6.29692733e-01, -2.28346493e-02,  4.74443585e-01,
        2.75724858e-01,  1.00444555e-01, -2.81267107e-01,  7.38310993e-01,
        1.64172634e-01, -1.40955552e-01, -1.34702528e+00, -2.28699774e-01,
       -2.00072408e-01,  1.53492257e-01,  2.15266779e-01, -3.75066400e-01,
        9.79104459e-01,  1.09640598e-01,  4.11819309e-01, -5.48374474e-01,
        5.74254513e-01,  1.78177617e-02,  2.20505193e-01,  8.06000233e-01,
       -3.45855951e-01, -9.48401261e-03, -1.23907340e+00, -7.95203969e-02,
       -7.97536790e-01, -5.43104485e-02,  4.87657279e-01,  5.39513767e-01,
       -2.17315450e-01, -3.24471802e-01, -3.16938460e-02, -4.50928695e-02,
       -3.87996256e-01,  1.86525464e-01, -8.76217484e-01,  4.62165594e-01,
       -1.30485311e-01,  2.05342710e-01,  4.07475919e-01, -3.70422542e-01,
       -5.11448026e-01, -9.77272838e-02,  7.49553964e-02, -2.01120012e-04,
       -3.41885537e-01,  5.65519333e-01,  1.14082709e-01,  6.78803146e-01,
        4.72706467e-01,  3.42421442e-01, -1.43425480e-01,  1.54427677e-01,
       -1.11259866e+00, -2.89237406e-02,  5.81502438e-01,  1.48962364e-01,
        1.04394841e+00, -4.68549430e-01, -3.26234043e-01, -7.46992528e-02,
        1.37691081e-01, -9.80571359e-02,  8.27818930e-01, -1.83586121e-01,
       -1.40500247e-01,  9.09389317e-01,  3.78665477e-01,  3.24974984e-01,
        1.12861015e-01,  1.28584728e-01, -1.98210865e-01,  1.06453426e-01,
        1.06317341e+00, -1.24137588e-01,  6.81226626e-02, -4.48439986e-01,
        1.37087673e-01,  2.65371919e-01, -2.73170382e-01,  7.81468809e-01])

In [95]:
cosine_similarity([np.matrix(cor_df.TOKEN_VECT[2]).A[0]], [np.matrix(cor_df.TOKEN_VECT[3]).A[0]])[-1][-1]

0.8436395154681279

# **VECTORS HANDLING**

In [97]:
cor_df.TOKEN_VECT = [np.matrix(cor_df.TOKEN_VECT[2]).A[0] for i in cor_df.TOKEN_VECT]

In [98]:
cor_df.HEAD_VECT = [np.matrix(cor_df.HEAD_VECT[2]).A[0] for i in cor_df.HEAD_VECT]

In [99]:
cor_df.SENT_VECT = [np.matrix(cor_df.SENT_VECT[2]).A[0] for i in cor_df.SENT_VECT]

In [100]:
cor_df.HEAD_CHILDS_VECT = [np.matrix(cor_df.HEAD_CHILDS_VECT[2]).A[0] for i in cor_df.HEAD_CHILDS_VECT]

# **SEMANTIC AXES**

In [ ]:
head_axe = 
head_childs_axe = 
sent_axe =

In [111]:
token_axe = sum(df.loc[df['NER'] == 1].TOKEN_VECT)/len(df.loc[df['NER'] == 1].TOKEN_VECT)
head_axe = sum(df.loc[df['NER'] == 1].TOKEN_VECT)/len(df.loc[df['NER'] == 1].TOKEN_VECT)
head_childs_axe = sum(df.loc[df['NER'] == 1].TOKEN_VECT)/len(df.loc[df['NER'] == 1].TOKEN_VECT)
sent_axe = sum(df.loc[df['NER'] == 1].TOKEN_VECT)/len(df.loc[df['NER'] == 1].TOKEN_VECT)

array([ 0.15259643,  1.0673474 ,  0.84192747, -0.07751556, -0.31298834,
        0.09233628, -0.26472288, -0.7381661 ,  0.00519838, -0.49337202,
       -0.1820628 , -0.5072496 ,  0.00195641, -0.28637633, -0.7731981 ,
        0.01394896,  0.27631348, -0.0254427 ,  0.3246617 , -0.6425943 ,
        0.06084309, -0.20216998, -0.609599  ,  0.07342215, -0.27438822,
        0.3074228 , -0.4297749 , -0.1696047 , -0.44817436, -0.05152535,
       -0.11410664, -0.1833085 ,  0.02531144,  0.09864173,  0.22863983,
       -0.00388305,  0.37313434, -0.18915488,  0.06732487,  0.8827775 ,
        0.08818786,  0.7271844 , -0.53254646,  0.05460615, -0.28470987,
       -0.5048189 ,  0.52019465, -0.3102646 , -0.30192918, -0.13672546,
        0.31806943,  0.2003947 , -0.11141903, -0.46284294, -0.11048363,
       -0.02093176, -0.29477742, -0.04074341,  0.06674745,  0.02069554,
       -0.14356346, -0.6977823 , -0.1604276 , -0.49493006, -0.21191894,
       -0.35967693,  0.7625827 , -0.10521115,  0.48796606, -0.03406363,
       -0.4430693 , -0.5029211 ,  0.00289623,  0.19447039,  0.43271378,
       -0.11857729,  1.0304301 , -0.39917797, -0.45120436, -0.08412111,
       -0.14014171, -0.05026855,  0.7211637 ,  0.24647923, -0.18196112,
        0.5268831 , -0.21495065, -0.09197988, -0.22142325,  0.32533273,
       -0.14525864,  0.08060254,  0.33637738,  0.4106704 , -0.16548389,
        0.23268773, -0.02662864, -0.52849716,  0.58896226,  0.34429657])

In [101]:
cor_df['NER'] = anns_df['NER']
cor_df['COREFERENCE_CLUSTER'] = anns_df['COREFERENCE_CLUSTER']
cor_df

            TOKEN  ... COREFERENCE_CLUSTER
0       обсуждаем  ...                 0.0
1        препарат  ...                 0.0
2      рисперидон  ...                 2.0
3       рисполепт  ...                 3.0
4        сперидан  ...                 4.0
...           ...  ...                 ...
26492           и  ...                 0.0
26493  таможенные  ...                 0.0
26494     пошлины  ...                 0.0
26495         как  ...                 0.0
26496      светка  ...                 0.0

[26497 rows x 23 columns]

In [102]:
cor_df.iloc[[6541]]

          TOKEN  ... COREFERENCE_CLUSTER
6541  доминанту  ...                 0.0

[1 rows x 23 columns]

In [103]:
cor_df.iloc[:2,:]

       TOKEN  ... COREFERENCE_CLUSTER
0  обсуждаем  ...                 0.0
1   препарат  ...                 0.0

[2 rows x 23 columns]

In [104]:
df = cor_df.iloc[:6541,:]

In [105]:
cor_df.iloc[:1,:]

       TOKEN  ... COREFERENCE_CLUSTER
0  обсуждаем  ...                 0.0

[1 rows x 23 columns]

In [106]:
len(df.loc[df['NER'] == 1])

283

In [107]:
len(df.loc[df['NER'] == 2])

89

In [108]:
len(df.loc[df['NER'] == 3])

54

In [109]:
len(df.loc[df['NER'].isin([1,2,3])])

426

In [110]:
df.loc[df['NER'].isin([1,2,3])]

               TOKEN  ... COREFERENCE_CLUSTER
2         рисперидон  ...                 2.0
3          рисполепт  ...                 3.0
4           сперидан  ...                 4.0
142       рисполепта  ...               142.0
344       рисполепта  ...               344.0
...              ...  ...                 ...
6502              он  ...               270.0
6517       тиапридом  ...               319.0
6526        препарат  ...               319.0
6535  метоклопрамида  ...               337.0
6539         тиаприд  ...               341.0

[426 rows x 23 columns]

In [63]:
df.describe()

         IS_ANSWER    TOPIC_NUM  ...          NER  COREFERENCE_CLUSTER
count  6541.000000  6541.000000  ...  6541.000000          6541.000000
mean      0.929369     2.830148  ...     0.095245            66.903532
std       0.256228     0.910212  ...     0.403665           370.716460
min       0.000000     1.000000  ...     0.000000             0.000000
25%       1.000000     2.000000  ...     0.000000             0.000000
50%       1.000000     3.000000  ...     0.000000             0.000000
75%       1.000000     3.000000  ...     0.000000             0.000000
max       1.000000     5.000000  ...     3.000000          3653.000000

[8 rows x 7 columns]

In [48]:
train, test = train_test_split(df, test_size=0.2)

In [50]:
train

              TOKEN  ... COREFERENCE_CLUSTER
5094             не  ...                 0.0
4693  возникновения  ...                 0.0
5647             не  ...                 0.0
3359             не  ...                 0.0
534          лечили  ...                 0.0
...             ...  ...                 ...
1611      несколько  ...                 0.0
2693         вопрос  ...                 0.0
3829             28  ...                 0.0
2284              и  ...                 0.0
3613    позволяют(в  ...                 0.0

[1309 rows x 23 columns]

In [ ]:
# X = cor_df.drop(['COREFERENCE_CLUSTER', 'NER', 'TOKEN'], axis=1)
# X_test = cor_df_test.drop(['COREFERENCE_CLUSTER', 'NER', 'TOKEN'], axis=1)
# labels_dict = {}
# test_labels_dict = {}

# for i in X.columns:
#   X[i], lbl = pd.factorize(X[i])
#   labels_dict[i] = lbl

# for i in X_test.columns:
#   X_test[i], lbl = pd.factorize(X_test[i])
#   test_labels_dict[i] = lbl 

# y = cor_df['COREFERENCE_CLUSTER']
# y, y_label = pd.factorize(y)

# y_test = cor_df_test['COREFERENCE_CLUSTER']
# y_test, y_test_label = pd.factorize(y_test)

In [ ]:
X

In [ ]:
labels_dict['HEAD_POS']

In [ ]:
clf = tree.DecisionTreeClassifier()
clf.fit(X, y)

In [ ]:
clf_ent = tree.DecisionTreeClassifier(criterion='entropy')
clf_ent.fit(X, y)

In [ ]:
from graphviz import Source
from sklearn import tree

In [ ]:
# tree.plot_tree(clf)

In [ ]:
# graph = Source(tree.export_graphviz(clf, out_file=None, 
#                                     feature_names=list(X), class_names=uniques, filled=True))

# display(SVG(graph.pipe(format='svg')))

In [ ]:
clf.predict(X_test)

In [ ]:
y_test

In [ ]:
X_test