<a href="https://colab.research.google.com/github/DmitryKutsev/cross-document_coreference/blob/main/classifiers/new_decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [174]:
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [175]:
from IPython.display import SVG, display, HTML

In [176]:
from google.colab import drive
drive.mount('./content', force_remount=False)

Drive already mounted at ./content; to attempt to forcibly remount, call drive.mount("./content", force_remount=True).

In [177]:
!ls
import os
for i in os.listdir('content/'):
  print(i)

content  coref_df_anns60k.csv  new_anns60k.csv	new_df_anns60k.csv  sample_data
.shortcut-targets-by-id
MyDrive
.file-revisions-by-id
.Trash

In [178]:
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/coref_df_anns60k.csv
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/new_anns60k.csv

--2021-05-16 22:34:03--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/coref_df_anns60k.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1162863 (1.1M) [text/plain]
Saving to: ‘coref_df_anns60k.csv.1’

coref_df_anns60k.cs 100%[===================>]   1.11M  --.-KB/s    in 0.04s

2021-05-16 22:34:04 (26.8 MB/s) - ‘coref_df_anns60k.csv.1’ saved [1162863/1162863]

--2021-05-16 22:34:04--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/new_anns60k.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1191562 (1.1M) [text/plain]
Saving to: ‘new_anns60k.csv.1’

new_anns60k.csv.1   100%[===================>]   1.14M  --.-KB/s    in 0.07s

2021-05-16 22:34:04 (16.3 MB/s) - ‘new_anns60k.csv.1’ saved [1191562/1191562]

In [179]:
import csv
import re
from google.colab import files
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

In [180]:
with open('coref_df_anns60k.csv') as csvfile:
  reader = csv.reader(csvfile, delimiter='\t')
  with open('new_df_anns60k.csv', 'w') as write_file:
    writer = csv.writer(write_file, delimiter='\t')
    c = 0
    for row in reader:
      new_row = [i if i and not re.match(r'\t+?', i) else '-' for i in row]
      # print(new_row)
      if len(new_row) > 9:
        # print(new_row[:9])
        new_row = new_row[:9]
      writer.writerow(new_row)

In [181]:
files.download('new_df_anns60k.csv')

In [182]:
# anns_df = pd.read_csv('coref_df_anns60k.csv', delimiter='\t', error_bad_lines=False, header=None)
anns_df = pd.read_csv('new_df_anns60k.csv', delimiter='\t')

In [183]:
anns_df

            TOKEN  TOPIC_NUM  POST_NUM  ...        HEAD  NER  COREFERENCE_CLUSTER
0       обсуждаем          1         0  ...   обсуждаем    0                  0.0
1        препарат          1         0  ...   обсуждаем    0                  0.0
2      рисперидон          1         0  ...    препарат    1                  2.0
3       рисполепт          1         0  ...  рисперидон    1                  3.0
4        сперидан          1         0  ...   рисполепт    1                  4.0
...           ...        ...       ...  ...         ...  ...                  ...
26492           и         22        68  ...     пошлины    0                  0.0
26493  таможенные         22        68  ...     пошлины    0                  0.0
26494     пошлины         22        68  ...        есть    0                  0.0
26495         как         22        68  ...        есть    0                  0.0
26496      светка         22        69  ...      светка    0                  0.0

[26497 rows x 9 columns]

In [184]:
import numpy as np

In [185]:
cor_df = pd.read_csv('content/MyDrive/coref_fasttext60k.csv', delimiter=' ')

In [186]:

np.matrix(cor_df.HEAD_VECT[0]).A[0]

array([-2.08233938e-01,  9.96180058e-01, -2.79894114e-01, -9.09143448e-01,
        3.49961907e-01,  1.22820950e+00, -4.53999013e-01, -4.96644318e-01,
       -5.06227851e-01, -3.50297660e-01, -2.68426925e-01, -3.18647206e-01,
       -4.94759202e-01, -4.05789405e-01, -6.19022734e-02,  5.76916397e-01,
        6.45665407e-01, -6.29692733e-01, -2.28346493e-02,  4.74443585e-01,
        2.75724858e-01,  1.00444555e-01, -2.81267107e-01,  7.38310993e-01,
        1.64172634e-01, -1.40955552e-01, -1.34702528e+00, -2.28699774e-01,
       -2.00072408e-01,  1.53492257e-01,  2.15266779e-01, -3.75066400e-01,
        9.79104459e-01,  1.09640598e-01,  4.11819309e-01, -5.48374474e-01,
        5.74254513e-01,  1.78177617e-02,  2.20505193e-01,  8.06000233e-01,
       -3.45855951e-01, -9.48401261e-03, -1.23907340e+00, -7.95203969e-02,
       -7.97536790e-01, -5.43104485e-02,  4.87657279e-01,  5.39513767e-01,
       -2.17315450e-01, -3.24471802e-01, -3.16938460e-02, -4.50928695e-02,
       -3.87996256e-01,  1.86525464e-01, -8.76217484e-01,  4.62165594e-01,
       -1.30485311e-01,  2.05342710e-01,  4.07475919e-01, -3.70422542e-01,
       -5.11448026e-01, -9.77272838e-02,  7.49553964e-02, -2.01120012e-04,
       -3.41885537e-01,  5.65519333e-01,  1.14082709e-01,  6.78803146e-01,
        4.72706467e-01,  3.42421442e-01, -1.43425480e-01,  1.54427677e-01,
       -1.11259866e+00, -2.89237406e-02,  5.81502438e-01,  1.48962364e-01,
        1.04394841e+00, -4.68549430e-01, -3.26234043e-01, -7.46992528e-02,
        1.37691081e-01, -9.80571359e-02,  8.27818930e-01, -1.83586121e-01,
       -1.40500247e-01,  9.09389317e-01,  3.78665477e-01,  3.24974984e-01,
        1.12861015e-01,  1.28584728e-01, -1.98210865e-01,  1.06453426e-01,
        1.06317341e+00, -1.24137588e-01,  6.81226626e-02, -4.48439986e-01,
        1.37087673e-01,  2.65371919e-01, -2.73170382e-01,  7.81468809e-01])

In [187]:
cosine_similarity([np.matrix(cor_df.TOKEN_VECT[2]).A[0]], [np.matrix(cor_df.TOKEN_VECT[3]).A[0]])[-1][-1]

0.8436395154681279

# **VECTORS HANDLING**

In [188]:
cor_df.TOKEN_VECT = [np.matrix(i).A[0] for i in cor_df.TOKEN_VECT]

In [189]:
cor_df.HEAD_VECT = [np.matrix(i).A[0] for i in cor_df.HEAD_VECT]

In [190]:
cor_df.SENT_VECT = [np.matrix(i).A[0] for i in cor_df.SENT_VECT]

In [191]:
cor_df.HEAD_CHILDS_VECT = [np.matrix(i).A[0] for i in cor_df.HEAD_CHILDS_VECT]

In [192]:
cor_df['NER'] = anns_df['NER']
cor_df['COREFERENCE_CLUSTER'] = anns_df['COREFERENCE_CLUSTER']
cor_df

            TOKEN  ... COREFERENCE_CLUSTER
0       обсуждаем  ...                 0.0
1        препарат  ...                 0.0
2      рисперидон  ...                 2.0
3       рисполепт  ...                 3.0
4        сперидан  ...                 4.0
...           ...  ...                 ...
26492           и  ...                 0.0
26493  таможенные  ...                 0.0
26494     пошлины  ...                 0.0
26495         как  ...                 0.0
26496      светка  ...                 0.0

[26497 rows x 23 columns]

In [193]:
df = cor_df.iloc[:6541,:]

In [194]:
len(df.loc[df['NER'] == 1])

283

In [195]:
len(df.loc[df['NER'] == 3])

54

In [196]:
len(df.loc[df['NER'].isin([1,2,3])])

426

In [197]:
len(df.loc[df['NER'] == 2])

89

In [198]:
df.loc[df['NER'].isin([1,2,3])]

               TOKEN  ... COREFERENCE_CLUSTER
2         рисперидон  ...                 2.0
3          рисполепт  ...                 3.0
4           сперидан  ...                 4.0
142       рисполепта  ...               142.0
344       рисполепта  ...               344.0
...              ...  ...                 ...
6502              он  ...               270.0
6517       тиапридом  ...               319.0
6526        препарат  ...               319.0
6535  метоклопрамида  ...               337.0
6539         тиаприд  ...               341.0

[426 rows x 23 columns]

# **SEMANTIC AXIS**

In [199]:
df['TOPIC_NUM'] == 0

0       False
1       False
2       False
3       False
4       False
        ...
6536    False
6537    False
6538    False
6539    False
6540    False
Name: TOPIC_NUM, Length: 6541, dtype: bool

In [200]:
(df['TOPIC_NUM'] == 0)
axis_df = df.query('POST_NUM == 0 and TOKEN_NUM == 2 and SENT_NUM == 0')
axis_df

            TOKEN  ... COREFERENCE_CLUSTER
2      рисперидон  ...                 2.0
576       зелдокс  ...                 2.0
1870    оланзапин  ...                 2.0
5555  галоперидол  ...                 2.0
6200      тиаприд  ...                 3.0

[5 rows x 23 columns]

In [201]:
sum(df.query('POST_NUM == 0 and TOKEN_NUM == 2 and SENT_NUM == 0').TOKEN_VECT)/len(df.query('POST_NUM == 0 and TOKEN_NUM == 2 and SENT_NUM == 0').TOKEN_VECT)

array([ 0.11242506,  1.06504189,  0.60962812, -0.1098321 , -0.25309914,
        0.18837714, -0.29014948, -0.66894132,  0.12588727, -0.36141735,
       -0.05396164, -0.35577641, -0.14144993, -0.15987718, -0.68407827,
       -0.04969584,  0.04704007,  0.06857683,  0.14719775, -0.42784514,
        0.12565804, -0.09923978, -0.46527826,  0.02228641, -0.29075186,
        0.19580094, -0.26369618, -0.26473205, -0.52919418,  0.07394732,
       -0.1234136 , -0.1277977 , -0.02898717,  0.14748353,  0.18349706,
       -0.02373637,  0.25928119, -0.35122524, -0.0759414 ,  0.94526116,
        0.08296286,  0.64028589, -0.28902657,  0.08378753, -0.44904899,
       -0.24238156,  0.36918995, -0.20184582, -0.20304089, -0.099586  ,
        0.13669602,  0.38995985, -0.19354978, -0.37518906,  0.09664967,
        0.01878619, -0.22422224, -0.06534558,  0.09065832, -0.05079969,
       -0.09178696, -0.39066393, -0.03679946, -0.37383265, -0.24993176,
       -0.28516305,  0.65741815, -0.18487955,  0.46176331,  0.12576201,
       -0.50205905, -0.41998887, -0.36937138,  0.19865501,  0.08012601,
       -0.03901949,  0.9511251 , -0.59211317, -0.29579042, -0.19769577,
        0.06904839, -0.16855247,  0.36048187,  0.04521092, -0.30242563,
        0.43372632, -0.26858987, -0.04952024, -0.31077904,  0.54805956,
       -0.15549784, -0.0828743 ,  0.21198337,  0.19918347, -0.28300184,
       -0.05101199,  0.07120493, -0.39694357,  0.40974461,  0.27944899])

In [202]:
token_axe = sum(axis_df.TOKEN_VECT)/len(axis_df.TOKEN_VECT)
head_axe = sum(axis_df.HEAD_VECT)/len(axis_df.HEAD_VECT)
head_childs_axe = sum(axis_df.HEAD_CHILDS_VECT)/len(axis_df.HEAD_CHILDS_VECT)
sent_axe = sum(axis_df.SENT_VECT)/len(axis_df.SENT_VECT)

In [203]:
df.TOKEN_VECT[710]

array([nan])

In [204]:
def make_similarity(df, col, axe):
  new_col = []
  for ind, vect in enumerate(df[col]):
    try:
      new_col.append(cosine_similarity([axe], [vect])[-1][-1])
    except ValueError:
      new_col.append(0)
  df[col] = new_col

In [205]:
make_similarity(df, 'TOKEN_VECT', token_axe)
make_similarity(df, 'HEAD_VECT', head_axe)
make_similarity(df, 'HEAD_CHILDS_VECT', head_childs_axe)
make_similarity(df, 'SENT_VECT', sent_axe)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [206]:
df

           TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
0      обсуждаем    0.424228  ...    0                  0.0
1       препарат    0.403455  ...    0                  0.0
2     рисперидон    0.933164  ...    1                  2.0
3      рисполепт    0.863874  ...    1                  3.0
4       сперидан    0.806514  ...    1                  4.0
...          ...         ...  ...  ...                  ...
6536           и    0.195650  ...    0                  0.0
6537         всё    0.250212  ...    0                  0.0
6538           а    0.267463  ...    0                  0.0
6539     тиаприд    0.889868  ...    1                341.0
6540     убирает    0.504835  ...    0                  0.0

[6541 rows x 23 columns]

In [207]:
df.describe()

        TOKEN_VECT    IS_ANSWER  ...          NER  COREFERENCE_CLUSTER
count  6541.000000  6541.000000  ...  6541.000000          6541.000000
mean      0.352978     0.929369  ...     0.095245            66.903532
std       0.148008     0.256228  ...     0.403665           370.716460
min       0.000000     0.000000  ...     0.000000             0.000000
25%       0.249610     1.000000  ...     0.000000             0.000000
50%       0.333842     1.000000  ...     0.000000             0.000000
75%       0.416451     1.000000  ...     0.000000             0.000000
max       0.934259     1.000000  ...     3.000000          3653.000000

[8 rows x 11 columns]

In [208]:
for_factorize = 'ANIMACY	CASE	GENDER	PERSON	POS	DEPENDENCY	HEAD	HEAD_ANIMACY	HEAD_CASE	HEAD_GENDER	HEAD_POS'.split()
for_factorize

['ANIMACY',
 'CASE',
 'GENDER',
 'PERSON',
 'POS',
 'DEPENDENCY',
 'HEAD',
 'HEAD_ANIMACY',
 'HEAD_CASE',
 'HEAD_GENDER',
 'HEAD_POS']

In [209]:

_, lbl = pd.factorize(df.ANIMACY)
print(lbl[0])
_

inan

array([-1,  0,  1, ..., -1,  1, -1])

In [210]:
mapping_dict = {}
for col_name in for_factorize:
  col, lbl = pd.factorize(df[col_name])
  df[col_name] = col
  mapping_dict[col_name] = lbl
mapping_dict

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

{'ANIMACY': Index(['inan', 'anim'], dtype='object'),
 'CASE': Index(['nomn', 'gent', 'datv', 'accs', 'loct', 'ablt', 'loc2'], dtype='object'),
 'DEPENDENCY': Index(['ROOT', 'obj', 'appos', 'parataxis', 'conj', 'advmod', 'ccomp', 'iobj',
        'csubj', 'case', 'obl', 'det', 'nsubj', 'cc', 'discourse', 'fixed',
        'mark', 'amod', 'advcl', 'xcomp', 'nummod', 'nmod', 'nsubj:pass',
        'nummod:gov', 'cop', 'acl:relcl', 'acl', 'aux', 'flat:foreign', 'punct',
        'obl:agent', 'flat', 'aux:pass', 'orphan', 'expl'],
       dtype='object'),
 'GENDER': Index(['masc', 'femn', 'neut'], dtype='object'),
 'HEAD': Index(['обсуждаем', 'препарат', 'рисперидон', 'рисполепт', 'знаю', 'стоило',
        'меня', 'нет', 'проблем', 'лекарством',
        ...
        'ухудшение', 'увеличением', 'дозы', 'рецидив', 'очередной', 'рацион',
        'продолжает', 'увеличивать', 'катадолоном', 'ответьте'],
       dtype='object', length=1312),
 'HEAD_ANIMACY': Index(['inan', 'anim'], dtype='object'),
 'HEAD_CASE': Index(['nomn', 'gent', 'accs', 'ablt', 'datv', 'loct', 'loc2'], dtype='object'),
 'HEAD_GENDER': Index(['masc', 'femn', 'neut'], dtype='object'),
 'HEAD_POS': Index(['VERB', 'NOUN', 'NPRO', 'PRED', 'PREP', 'INFN', 'PRTS', 'GRND', 'ADJF',
        'ADVB', 'PRCL', 'PRTF', 'CONJ', 'ADJS', 'COMP', 'INTJ', 'NUMR'],
       dtype='object'),
 'PERSON': Index(['1per', '3per', '2per'], dtype='object'),
 'POS': Index(['VERB', 'NOUN', 'PRTS', 'PRCL', 'CONJ', 'NPRO', 'INFN', 'PREP', 'ADVB',
        'PRED', 'ADJF', 'NUMR', 'GRND', 'COMP', 'PRTF', 'ADJS', 'INTJ'],
       dtype='object')}

In [211]:
# X = cor_df.drop(['COREFERENCE_CLUSTER', 'NER', 'TOKEN'], axis=1)
# X_test = cor_df_test.drop(['COREFERENCE_CLUSTER', 'NER', 'TOKEN'], axis=1)
# labels_dict = {}
# test_labels_dict = {}

# for i in X.columns:
#   X[i], lbl = pd.factorize(X[i])
#   labels_dict[i] = lbl

# for i in X_test.columns:
#   X_test[i], lbl = pd.factorize(X_test[i])
#   test_labels_dict[i] = lbl 

# y = cor_df['COREFERENCE_CLUSTER']
# y, y_label = pd.factorize(y)

# y_test = cor_df_test['COREFERENCE_CLUSTER']
# y_test, y_test_label = pd.factorize(y_test)

In [220]:
train, test = train_test_split(df, test_size=0.2)

In [221]:
train = train.reset_index()

In [222]:

# train = train.iloc[:,:24].drop(['TOKEN', 'level_0', 'index'], axis=1)
train = train.drop(['TOKEN', 'index'], axis=1)

In [223]:
test = test.reset_index()

In [224]:
test

      index         TOKEN  ...  NER  COREFERENCE_CLUSTER
0      3532      абилифай  ...    1               1664.0
1      3264             и  ...    0                  0.0
2      3866          крка  ...    0                  0.0
3      4719  используются  ...    0                  0.0
4      2465          веса  ...    0                  0.0
...     ...           ...  ...  ...                  ...
1304   1646             1  ...    0                  0.0
1305   5368            ем  ...    0                  0.0
1306   6044     лекарства  ...    2                449.0
1307   5739             и  ...    0                  0.0
1308   4308           так  ...    0                  0.0

[1309 rows x 24 columns]

In [225]:
# test = test.iloc[:,:24].drop(['TOKEN', 'index'], axis=1)
# test = test.drop(['TOKEN', 'index'], axis=1)

In [226]:
test

      index         TOKEN  ...  NER  COREFERENCE_CLUSTER
0      3532      абилифай  ...    1               1664.0
1      3264             и  ...    0                  0.0
2      3866          крка  ...    0                  0.0
3      4719  используются  ...    0                  0.0
4      2465          веса  ...    0                  0.0
...     ...           ...  ...  ...                  ...
1304   1646             1  ...    0                  0.0
1305   5368            ем  ...    0                  0.0
1306   6044     лекарства  ...    2                449.0
1307   5739             и  ...    0                  0.0
1308   4308           так  ...    0                  0.0

[1309 rows x 24 columns]

In [227]:
X, y, X_test, y_test = train.iloc[:,:23], train.COREFERENCE_CLUSTER, test.drop(['TOKEN', 'index'], axis=1).iloc[:,:24], test.drop(['TOKEN', 'index'], axis=1).COREFERENCE_CLUSTER

In [228]:
X

      TOKEN_VECT  IS_ANSWER  ...  NER  COREFERENCE_CLUSTER
0       0.203122          1  ...    0                  0.0
1       0.390991          1  ...    0                  0.0
2       0.673552          1  ...    1               3169.0
3       0.179695          1  ...    0                  0.0
4       0.372600          1  ...    0                  0.0
...          ...        ...  ...  ...                  ...
5227    0.286822          0  ...    0                  0.0
5228    0.354267          1  ...    0                  0.0
5229    0.271220          1  ...    0                  0.0
5230    0.457674          1  ...    0                  0.0
5231    0.267463          1  ...    0                  0.0

[5232 rows x 22 columns]

In [229]:
y

0          0.0
1          0.0
2       3169.0
3          0.0
4          0.0
         ...
5227       0.0
5228       0.0
5229       0.0
5230       0.0
5231       0.0
Name: COREFERENCE_CLUSTER, Length: 5232, dtype: float64

In [230]:
clf = tree.DecisionTreeClassifier(max_depth=200)
clf.fit(X.drop('NER', axis=1), y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=200, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [231]:
clf_ent = tree.DecisionTreeClassifier(criterion='entropy', max_depth=200)
clf_ent.fit(X.drop('NER', axis=1), y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=200, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [232]:
from graphviz import Source
from sklearn import tree
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score

In [233]:
clf.score(X_test.drop('NER', axis=1), y_test), clf_ent.score(X_test.drop('NER', axis=1), y_test)

(0.9434682964094728, 0.9495798319327731)

In [234]:
# tree.plot_tree(clf)

In [235]:
# graph = Source(tree.export_graphviz(clf, out_file=None, 
#                                     feature_names=list(X), class_names=uniques, filled=True))

# display(SVG(graph.pipe(format='svg')))

In [236]:
pred = clf.predict(X_test.drop('NER', axis=1))

In [237]:
pred_ent = clf_ent.predict(X_test.drop('NER', axis=1))

In [238]:
accuracy_score(list(pred), list(y_test))

0.9434682964094728

In [239]:
accuracy_score(list(pred_ent), list(y_test))

0.9495798319327731

In [240]:
for i in range(len(pred)):
  if pred[i] == y_test[i] and pred[i] != 0:
    print(pred[i])
    print(y_test[i])
    print(test.iloc[:,:24].iloc[[i]])

2156.0
2156.0
    index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
31   4024  альвента    0.448962  ...          0.475445    1               2156.0

[1 rows x 24 columns]
3.0
3.0
     index       TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
162    577  зипрасидон    0.884008  ...          0.888996    1                  3.0

[1 rows x 24 columns]
5.0
5.0
     index       TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
188   5568  препаратом    0.374391  ...          0.551001    2                  5.0

[1 rows x 24 columns]
183.0
183.0
     index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
208   2084   его    0.308779  ...          0.431914    3                183.0

[1 rows x 24 columns]
2.0
2.0
     index       TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
262      2  рисперидон    0.933164  ...          0.917969    1                  2.0

[1 rows x 24 columns]
3.0
3.0
     index    TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
592   6200  тиаприд    0.889868  ...          0.887767    1                  3.0

[1 rows x 24 columns]
108.0
108.0
     index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
676    728  препарата    0.281452  ...          0.511396    2                108.0

[1 rows x 24 columns]
987.0
987.0
     index               TOKEN  ...  NER  COREFERENCE_CLUSTER
751   2855  зипрекса(оланзапин  ...    1                987.0

[1 rows x 24 columns]
449.0
449.0
     index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
786   6010  лекарство    0.310717  ...          0.380021    2                449.0

[1 rows x 24 columns]
2344.0
2344.0
     index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
833   4212  оланзапин    0.912708  ...          0.690078    1               2344.0

[1 rows x 24 columns]
3.0
3.0
     index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
971   1871  зипрекса    0.768426  ...          0.766062    1                  3.0

[1 rows x 24 columns]
4.0
4.0
     index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
992   6201  тиапридал    0.826306  ...          0.825672    1                  4.0

[1 rows x 24 columns]
2.0
2.0
      index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1045   5554  препарат    0.403455  ...          0.792363    2                  2.0

[1 rows x 24 columns]
41.0
41.0
      index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1074   6260   его    0.308779  ...          0.557087    3                 41.0

[1 rows x 24 columns]
41.0
41.0
      index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1075   6273    он    0.329561  ...          0.530246    3                 41.0

[1 rows x 24 columns]
90.0
90.0
      index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1097   6297  препарат    0.403455  ...          0.690217    2                 90.0

[1 rows x 24 columns]
2.0
2.0
      index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1130    429  препарат    0.403455  ...          0.534635    2                  2.0

[1 rows x 24 columns]
182.0
182.0
      index    TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1229    756  зелдокс    0.863049  ...          0.645749    1                182.0

[1 rows x 24 columns]
2.0
2.0
      index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1230   6199  препарат    0.403455  ...          0.564925    2                  2.0

[1 rows x 24 columns]
41.0
41.0
      index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1236   6239  тиапридал    0.826306  ...          0.622012    1                 41.0

[1 rows x 24 columns]
3401.0
3401.0
      index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1246   5303  препарату     0.33676  ...          0.603974    2               3401.0

[1 rows x 24 columns]
41.0
41.0
      index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1273   6270    он    0.329561  ...           0.51513    3                 41.0

[1 rows x 24 columns]
449.0
449.0
      index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1306   6044  лекарства    0.280711  ...           0.41676    2                449.0

[1 rows x 24 columns]

In [241]:
for i in range(len(pred)):
  if pred_ent[i] == y_test[i] and pred_ent[i] != 0:
    print(pred_ent[i])
    print(y_test[i])
    print(test.iloc[:,:24].iloc[[i]])

2766.0
2766.0
     index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
131   4633  препарата    0.281452  ...          0.561777    2               2766.0

[1 rows x 24 columns]
755.0
755.0
     index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
161   1401  препарата    0.281452  ...           0.41025    2                755.0

[1 rows x 24 columns]
3.0
3.0
     index       TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
162    577  зипрасидон    0.884008  ...          0.888996    1                  3.0

[1 rows x 24 columns]
5.0
5.0
     index       TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
188   5568  препаратом    0.374391  ...          0.551001    2                  5.0

[1 rows x 24 columns]
183.0
183.0
     index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
208   2084   его    0.308779  ...          0.431914    3                183.0

[1 rows x 24 columns]
2488.0
2488.0
     index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
236   4373  препараты    0.370333  ...          0.487385    1               2488.0

[1 rows x 24 columns]
388.0
388.0
     index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
252   2263    их     0.27835  ...          0.346155    3                388.0

[1 rows x 24 columns]
2.0
2.0
     index       TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
262      2  рисперидон    0.933164  ...          0.917969    1                  2.0

[1 rows x 24 columns]
218.0
218.0
     index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
282   6423   его    0.308779  ...          0.515944    3                218.0

[1 rows x 24 columns]
829.0
829.0
     index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
304   1472   нём    0.504984  ...           0.59327    3                829.0

[1 rows x 24 columns]
987.0
987.0
     index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
314   2885  лекарства    0.280711  ...          0.380685    2                987.0

[1 rows x 24 columns]
2053.0
2053.0
     index       TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
566   3921  оланзапина    0.798818  ...          0.775434    1               2053.0

[1 rows x 24 columns]
3.0
3.0
     index    TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
592   6200  тиаприд    0.889868  ...          0.887767    1                  3.0

[1 rows x 24 columns]
108.0
108.0
     index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
676    728  препарата    0.281452  ...          0.511396    2                108.0

[1 rows x 24 columns]
987.0
987.0
     index               TOKEN  ...  NER  COREFERENCE_CLUSTER
751   2855  зипрекса(оланзапин  ...    1                987.0

[1 rows x 24 columns]
449.0
449.0
     index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
786   6010  лекарство    0.310717  ...          0.380021    2                449.0

[1 rows x 24 columns]
3.0
3.0
     index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
971   1871  зипрекса    0.768426  ...          0.766062    1                  3.0

[1 rows x 24 columns]
11.0
11.0
     index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
981    594    он    0.329561  ...          0.375299    3                 11.0

[1 rows x 24 columns]
4.0
4.0
     index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
992   6201  тиапридал    0.826306  ...          0.825672    1                  4.0

[1 rows x 24 columns]
14.0
14.0
      index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1011   6216   его    0.308779  ...          0.521603    3                 14.0

[1 rows x 24 columns]
2.0
2.0
      index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1045   5554  препарат    0.403455  ...          0.792363    2                  2.0

[1 rows x 24 columns]
41.0
41.0
      index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1074   6260   его    0.308779  ...          0.557087    3                 41.0

[1 rows x 24 columns]
41.0
41.0
      index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1075   6273    он    0.329561  ...          0.530246    3                 41.0

[1 rows x 24 columns]
2.0
2.0
      index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1130    429  препарат    0.403455  ...          0.534635    2                  2.0

[1 rows x 24 columns]
3350.0
3350.0
      index         TOKEN  ...  NER  COREFERENCE_CLUSTER
1132   5218  абилифай?это  ...    1               3350.0

[1 rows x 24 columns]
243.0
243.0
      index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1156   6445   его    0.308779  ...          0.521603    3                243.0

[1 rows x 24 columns]
2766.0
2766.0
      index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1197   4634  зипрекса    0.768426  ...          0.766062    1               2766.0

[1 rows x 24 columns]
182.0
182.0
      index    TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1229    756  зелдокс    0.863049  ...          0.645749    1                182.0

[1 rows x 24 columns]
2.0
2.0
      index     TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1230   6199  препарат    0.403455  ...          0.564925    2                  2.0

[1 rows x 24 columns]
41.0
41.0
      index TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1273   6270    он    0.329561  ...           0.51513    3                 41.0

[1 rows x 24 columns]
449.0
449.0
      index      TOKEN  TOKEN_VECT  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
1306   6044  лекарства    0.280711  ...           0.41676    2                449.0

[1 rows x 24 columns]

In [242]:
# tp = []
# fp = []
# tn = []
# fn = []
# for i in range(len(pred)):
#   if pred[i] != 0.0:
#     if pred[i] == y_test[i]:
#       t.append(i)
#     else:
#       f.append(i)

In [255]:
pred_ent = clf_ent.predict(X_test.drop('NER', axis=1))
t = []
f = []

for i in range(len(pred)):
  if pred_ent[i] != 0.0:
    if pred_ent[i] == y_test[i]:
      t.append(i)
    else:
      f.append(i)

In [256]:
len(t), len(f)

(31, 66)

In [257]:
precision_ent = len(t)/(len(f) + len(t))
precision

0.23711340206185566

In [247]:
from sklearn.ensemble import RandomForestClassifier

In [311]:
randf_clf = RandomForestClassifier(max_depth=15, n_estimators=900, min_samples_split=4, bootstrap=True, )
randf_clf.fit(X.drop('NER', axis=1), y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=15, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=4,
                       min_weight_fraction_leaf=0.0, n_estimators=900,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [312]:
randf_clf.score(X_test.drop('NER', axis=1), y_test)

0.935064935064935

In [313]:
pred_randf = randf_clf.predict(X_test.drop('NER', axis=1))

t = []
f = []

for i in range(len(pred)):
  if pred_randf[i] != 0.0:
    if pred_randf[i] == y_test[i]:
      t.append(i)
    else:
      f.append(i)
len(t), len(f)

(12, 77)

In [ ]:
params = {n_esti}