<a href="https://colab.research.google.com/github/DmitryKutsev/cross-document_coreference/blob/main/classifiers/rule_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Импорт**

In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [30]:
from IPython.display import SVG, display, HTML

In [31]:
from google.colab import drive
drive.mount('./content', force_remount=False)

Drive already mounted at ./content; to attempt to forcibly remount, call drive.mount("./content", force_remount=True).

In [32]:
from graphviz import Source
from sklearn import tree, svm, linear_model
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [33]:
!ls
import os
for i in os.listdir('content/'):
  print(i)

content  new_anns60k.csv  new_anns60k.csv.1  new_df_anns60k.csv  sample_data
MyDrive
.shortcut-targets-by-id
.file-revisions-by-id
.Trash

In [34]:
import csv
import re
from google.colab import files
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

## **Обработка данных**

In [35]:
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/coref_df_anns60k.csv
!wget https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/new_anns60k.csv

--2021-05-23 08:38:49--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/coref_df_anns60k.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 404 Not Found
2021-05-23 08:38:50 ERROR 404: Not Found.

--2021-05-23 08:38:50--  https://raw.githubusercontent.com/DmitryKutsev/cross-document_coreference/main/data/new_anns60k.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1192455 (1.1M) [text/plain]
Saving to: ‘new_anns60k.csv.2’

new_anns60k.csv.2   100%[===================>]   1.14M  7.14MB/s    in 0.2s

2021-05-23 08:38:50 (7.14 MB/s) - ‘new_anns60k.csv.2’ saved [1192455/1192455]

Обработка битых символов, чтобы pandas мог открыть таблицу.

In [36]:
# with open('coref_df_anns60k.csv') as csvfile:
with open('new_anns60k.csv') as csvfile:
  reader = csv.reader(csvfile, delimiter='\t')
  with open('new_df_anns60k.csv', 'w') as write_file:
    writer = csv.writer(write_file, delimiter='\t')
    c = 0
    for row in reader:
      new_row = [i if i and not re.match(r'\t+?', i) else 0 for i in row]
      if len(new_row) > 9:
        new_row = new_row[:9]
      writer.writerow(new_row)

In [37]:
# anns_df = pd.read_csv('coref_df_anns60k.csv', delimiter='\t', error_bad_lines=False, header=None)
anns_df = pd.read_csv('new_df_anns60k.csv', delimiter='\t')

Проверим данные

In [38]:
anns_df

            TOKEN  TOPIC_NUM  POST_NUM  ...        HEAD  NER  COREFERENCE_CLUSTER
0       обсуждаем        1.0       0.0  ...   обсуждаем  0.0                  0.0
1        препарат        1.0       0.0  ...   обсуждаем  0.0                  0.0
2      рисперидон        1.0       0.0  ...    препарат  1.0                  2.0
3       рисполепт        1.0       0.0  ...  рисперидон  1.0                  3.0
4        сперидан        1.0       0.0  ...   рисполепт  1.0                  4.0
...           ...        ...       ...  ...         ...  ...                  ...
15405           0        0.0       0.0  ...         NaN  NaN                  NaN
15406           0        0.0       0.0  ...         NaN  NaN                  NaN
15407           0        0.0       0.0  ...         NaN  NaN                  NaN
15408           0        0.0       0.0  ...         NaN  NaN                  NaN
15409           0        NaN       NaN  ...         NaN  NaN                  NaN

[15410 rows x 9 columns]

In [39]:
import numpy as np

In [40]:
cor_df = pd.read_csv('content/MyDrive/coref_fasttext60k.csv', delimiter=' ')
cor_df

            TOKEN  ... COREFERENCE_CLUSTER
0       обсуждаем  ...                   0
1        препарат  ...                   0
2      рисперидон  ...                   0
3       рисполепт  ...                   0
4        сперидан  ...                   0
...           ...  ...                 ...
26492           и  ...                   0
26493  таможенные  ...                   0
26494     пошлины  ...                   0
26495         как  ...                   0
26496      светка  ...                   0

[26497 rows x 23 columns]

In [41]:
cosine_similarity([np.matrix(cor_df.TOKEN_VECT[2]).A[0]], [np.matrix(cor_df.TOKEN_VECT[3]).A[0]])[-1][-1]

0.8436395154681279

# **VECTORS HANDLING**

Изменяем значения векторов предложений, главного слова группы, зависимых слов группы, и токена на косинусную дистанцию с семантической осью.

Сначала, изменим строковое представление на массив.

In [42]:
cor_df.TOKEN_VECT = [np.matrix(i).A[0] for i in cor_df.TOKEN_VECT]
cor_df.HEAD_VECT = [np.matrix(i).A[0] for i in cor_df.HEAD_VECT]
cor_df.SENT_VECT = [np.matrix(i).A[0] for i in cor_df.SENT_VECT]
cor_df.HEAD_CHILDS_VECT = [np.matrix(i).A[0] for i in cor_df.HEAD_CHILDS_VECT]

Добавим размеченные данные, и посмотрим, что получилось.

In [43]:
cor_df['NER'] = anns_df['NER']
cor_df['COREFERENCE_CLUSTER'] = anns_df['COREFERENCE_CLUSTER']
# cor_df

Ограничим датафрейм теми данными, которые были размечены, чтобы была возможность провести оценку системы.

In [44]:
df = cor_df.iloc[:15000,:]

In [45]:
df

            TOKEN  ... COREFERENCE_CLUSTER
0       обсуждаем  ...                 0.0
1        препарат  ...                 0.0
2      рисперидон  ...                 2.0
3       рисполепт  ...                 3.0
4        сперидан  ...                 4.0
...           ...  ...                 ...
14995         эта  ...                 0.0
14996     вакцина  ...                 0.0
14997    аукнется  ...                 0.0
14998          на  ...                 0.0
14999   организме  ...                 0.0

[15000 rows x 23 columns]

Всего наименований препаратов размечено (это не обязательно антецеденты, любое название препарата).

In [46]:
len(df.loc[df['NER'] == 1])

576

Из них местоимений (прономинальные анафоры).

In [47]:
len(df.loc[df['NER'] == 3])

113

И номинативные анафоры существительные, такие как "препарат" и "лекарство". В основном это они и есть.

In [48]:
len(df.loc[df['NER'] == 2])

214

In [49]:
len(df.loc[df['NER'].isin([1,2,3])])

903

In [50]:
# df['NER'] = [int(i) for i in df['NER']]
# df['COREFERENCE_CLUSTER'] = [int(i) for i in df['COREFERENCE_CLUSTER']]

Посмотрим на данные.

In [51]:
df.loc[df['NER'].isin([1,2,3])]

             TOKEN  ... COREFERENCE_CLUSTER
2       рисперидон  ...                 2.0
3        рисполепт  ...                 3.0
4         сперидан  ...                 4.0
21      лекарством  ...                 0.0
142     рисполепта  ...               142.0
...            ...  ...                 ...
14737  капецитабин  ...              2215.0
14739         пить  ...              2217.0
14786          чем  ...              2264.0
14817       данный  ...              2295.0
14836       палате  ...              2295.0

[903 rows x 23 columns]

# **SEMANTIC AXIS**

Реализация метода семантических осей.
Сначала, выбираем первые предложения каждого топика. Посмотрим на них.

In [52]:
axis_df = df.query('POST_NUM == 0 and TOKEN_NUM == 2 and SENT_NUM == 0')
axis_df

             TOKEN  ... COREFERENCE_CLUSTER
2       рисперидон  ...                 2.0
576        зелдокс  ...                 2.0
1870     оланзапин  ...                 2.0
5555   галоперидол  ...                 2.0
6200       тиаприд  ...                 3.0
8450     сероквель  ...                 2.0
8541          день  ...                 0.0
11117          500  ...                 0.0
11787  капецитабин  ...                 0.0
11806       иресса  ...                 0.0
12118        очень  ...                 0.0
12200        очень  ...                 0.0
14936    показания  ...                 0.0

[13 rows x 23 columns]

In [53]:
# sum(df.query('POST_NUM == 0 and TOKEN_NUM == 2 and SENT_NUM == 0').TOKEN_VECT)/len(df.query('POST_NUM == 0 and TOKEN_NUM == 2 and SENT_NUM == 0').TOKEN_VECT)

Суммируем верктора токенов, главных слов, предложения целиком, и зависимых слов. Нормализуем.

In [54]:

token_axe = sum(axis_df.TOKEN_VECT)/len(axis_df.TOKEN_VECT)
head_axe = sum(axis_df.HEAD_VECT)/len(axis_df.HEAD_VECT)
head_childs_axe = sum(axis_df.HEAD_CHILDS_VECT)/len(axis_df.HEAD_CHILDS_VECT)
sent_axe = sum(axis_df.SENT_VECT)/len(axis_df.SENT_VECT)

In [55]:
df.TOKEN_VECT[710]

array([nan])

Функция, которая заменяет столбец с векторами на столбец со значениями косинусной дистанции с соответствующей семантической осью.

In [56]:
def make_similarity(df, col, axe):
  new_col = []
  for ind, vect in enumerate(df[col]):
    try:
      new_col.append(cosine_similarity([axe], [vect])[-1][-1])
    except ValueError:
      new_col.append(0)
  df[col] = new_col

In [57]:
make_similarity(df, 'TOKEN_VECT', token_axe)
make_similarity(df, 'HEAD_VECT', head_axe)
make_similarity(df, 'HEAD_CHILDS_VECT', head_childs_axe)
make_similarity(df, 'SENT_VECT', sent_axe)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [58]:
df.TOKEN[1]

'препарат'

In [59]:
# df['SUM_VECT']= [(df.TOKEN_VECT[i] + df.SENT_VECT[i])/3 for i in range(len(df.SENT_VECT))]

Посмотрим на данные.

In [60]:
df

            TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
0       обсуждаем    0.478969  ...  0.0                  0.0
1        препарат    0.525897  ...  0.0                  0.0
2      рисперидон    0.779845  ...  1.0                  2.0
3       рисполепт    0.797031  ...  1.0                  3.0
4        сперидан    0.760111  ...  1.0                  4.0
...           ...         ...  ...  ...                  ...
14995         эта    0.411351  ...  0.0                  0.0
14996     вакцина    0.506801  ...  0.0                  0.0
14997    аукнется    0.544597  ...  0.0                  0.0
14998          на    0.450034  ...  0.0                  0.0
14999   организме    0.493471  ...  0.0                  0.0

[15000 rows x 23 columns]

# **ПРАВИЛОВЫЙ АЛГОРИТМ**

In [69]:
topics = list(set(df.TOPIC_NUM.values))
topics

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [86]:
topic_num = 1
topic_df = df.loc[df['TOPIC_NUM'] == topic_num]
# номера предложений топика
sents_in_topic = list(set(df.loc[df['TOPIC_NUM'] == topic_num ].SENT_NUM))
sents_in_topic
# достать пост
df.loc[(df['TOPIC_NUM'] == 1) & (df['POST_NUM'] == 1)]
# достать конкретное предложение конкретного поста
df.loc[(df['TOPIC_NUM'] == 1) & (df['POST_NUM'] == 1) & (df['SENT_NUM'] == 1)]
# достать токен из предложение конкретного поста
df.loc[(df['TOPIC_NUM'] == 1) & (df['POST_NUM'] == 1) & (df['SENT_NUM'] == 1)].iloc[[2]]

          TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
13  практически    0.569599  ...  0.0                  0.0

[1 rows x 23 columns]

In [ ]:
Мы

In [ ]:
df.loc[df['SENT_NUM'] != 0.0]

In [65]:
for i in range(len(df)):
  current_raw = df.iloc[[i]].loc[df['NER'] != 0.0]
  print(current_raw)
  if i == 3:
    break

Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
Empty DataFrame
Columns: [TOKEN, TOKEN_VECT, IS_ANSWER, TOPIC_NUM, POST_NUM, SENT_NUM, TOKEN_NUM, ANIMACY, CASE, GENDER, PERSON, POS, DEPENDENCY, HEAD, HEAD_ANIMACY, HEAD_CASE, HEAD_GENDER, HEAD_POS, HEAD_VECT, SENT_VECT, HEAD_CHILDS_VECT, NER, COREFERENCE_CLUSTER]
Index: []
        TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
2  рисперидон    0.779845  ...  1.0                  2.0

[1 rows x 23 columns]
       TOKEN  TOKEN_VECT  IS_ANSWER  ...  HEAD_CHILDS_VECT  NER  COREFERENCE_CLUSTER
3  рисполепт    0.797031          0  ...          0.830899  1.0                  3.0

[1 rows x 23 columns]

# **МОДЕЛИ.**

Факторизуем троковые данные, чтобы вместо строковых представлений классов были численные.

In [1404]:
for_factorize = 'ANIMACY	CASE	GENDER	PERSON	POS	DEPENDENCY	HEAD	HEAD_ANIMACY	HEAD_CASE	HEAD_GENDER	HEAD_POS'.split()
for_factorize

['ANIMACY',
 'CASE',
 'GENDER',
 'PERSON',
 'POS',
 'DEPENDENCY',
 'HEAD',
 'HEAD_ANIMACY',
 'HEAD_CASE',
 'HEAD_GENDER',
 'HEAD_POS']

In [1405]:
_, lbl = pd.factorize(df.ANIMACY)
print(lbl, )
_

Index(['inan', 'anim'], dtype='object')

array([-1,  0,  1, ..., -1, -1,  0])

Делаем словарь с маппингом, чтобы можно было достать нужное значение по индексу. В значении -1 хранится None

In [1406]:
mapping_dict = {}
for col_name in for_factorize:
  col, lbl = pd.factorize(df[col_name])
  df[col_name] = col
  mapping_dict[col_name] = lbl
mapping_dict

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

{'ANIMACY': Index(['inan', 'anim'], dtype='object'),
 'CASE': Index(['nomn', 'gent', 'datv', 'accs', 'loct', 'ablt', 'loc2', 'voct', 'gen2'], dtype='object'),
 'DEPENDENCY': Index(['ROOT', 'obj', 'appos', 'parataxis', 'conj', 'advmod', 'ccomp', 'iobj',
        'csubj', 'case', 'obl', 'det', 'nsubj', 'cc', 'discourse', 'fixed',
        'mark', 'amod', 'advcl', 'xcomp', 'nummod', 'nmod', 'nsubj:pass',
        'nummod:gov', 'cop', 'acl:relcl', 'acl', 'aux', 'flat:foreign', 'punct',
        'obl:agent', 'flat', 'aux:pass', 'orphan', 'expl', 'csubj:pass'],
       dtype='object'),
 'GENDER': Index(['masc', 'femn', 'neut'], dtype='object'),
 'HEAD': Index(['обсуждаем', 'препарат', 'рисперидон', 'рисполепт', 'знаю', 'стоило',
        'меня', 'нет', 'проблем', 'лекарством',
        ...
        'привился', 'прививки', 'решать', 'неизвестно', 'быстро', 'проводились',
        'испытания', 'аукнется', 'вакцина', 'организме'],
       dtype='object', length=2519),
 'HEAD_ANIMACY': Index(['inan', 'anim'], dtype='object'),
 'HEAD_CASE': Index(['nomn', 'gent', 'accs', 'ablt', 'datv', 'loct', 'loc2', 'voct'], dtype='object'),
 'HEAD_GENDER': Index(['masc', 'femn', 'neut'], dtype='object'),
 'HEAD_POS': Index(['VERB', 'NOUN', 'NPRO', 'PRED', 'PREP', 'INFN', 'PRTS', 'GRND', 'ADJF',
        'ADVB', 'PRCL', 'PRTF', 'CONJ', 'ADJS', 'COMP', 'INTJ', 'NUMR'],
       dtype='object'),
 'PERSON': Index(['1per', '3per', '2per'], dtype='object'),
 'POS': Index(['VERB', 'NOUN', 'PRTS', 'PRCL', 'CONJ', 'NPRO', 'INFN', 'PREP', 'ADVB',
        'PRED', 'ADJF', 'NUMR', 'GRND', 'COMP', 'PRTF', 'ADJS', 'INTJ'],
       dtype='object')}

In [1407]:

# labels_dict = {}
# test_labels_dict = {}

# for i in X.columns:
#   X[i], lbl = pd.factorize(X[i])
#   labels_dict[i] = lbl

# for i in X_test.columns:
#   X_test[i], lbl = pd.factorize(X_test[i])
#   test_labels_dict[i] = lbl 

# y = cor_df['COREFERENCE_CLUSTER']
# y, y_label = pd.factorize(y)

# y_test = cor_df_test['COREFERENCE_CLUSTER']
# y_test, y_test_label = pd.factorize(y_test)

In [1408]:
df.loc[(df['NER'] == 1.0) | (df['NER'] == 2.0 )]

            TOKEN  TOKEN_VECT  ...  NER  COREFERENCE_CLUSTER
2      рисперидон    0.779845  ...  1.0                  2.0
3       рисполепт    0.797031  ...  1.0                  3.0
4        сперидан    0.760111  ...  1.0                  4.0
21     лекарством    0.456023  ...  2.0                  0.0
142    рисполепта    0.731182  ...  1.0                142.0
...           ...         ...  ...  ...                  ...
12726   приходили    0.534609  ...  1.0                204.0
12785  завершению    0.453896  ...  1.0                263.0
12854           к    0.415880  ...  1.0                332.0
12876      стадию    0.542401  ...  2.0                  0.0
12879         моя    0.407910  ...  1.0                357.0

[708 rows x 23 columns]

Разделим датасет на тестовый и тренировочный. for_train, for_test

In [1409]:
# train, test = train_test_split(df.loc[(df['NER'] == 1.0) | (df['NER'] == 2.0 ) | (df['NER'] == 3.0 )], test_size=0.2)
# train, test = train_test_split(df, test_size=0.2)
train, test = train_test_split(df.loc[(df['NER'] == 2.0 ) | (df['NER'] == 3.0 )], test_size=0.2)

In [1410]:
train = train.reset_index()

In [1411]:
# train = train.iloc[:,:24].drop(['TOKEN', 'level_0', 'index'], axis=1)
# train = train.drop(['TOKEN', 'index'], axis=1)

In [1412]:
test = test.reset_index()

In [1413]:
test.head(5)

   index           TOKEN  ...  NER  COREFERENCE_CLUSTER
0   3673       препараты  ...  2.0               1795.0
1   2256      препаратов  ...  2.0                388.0
2   9144           химии  ...  2.0                  0.0
3   7336  нейролептиками  ...  2.0                  0.0
4   6526        препарат  ...  2.0                319.0

[5 rows x 24 columns]

In [1414]:
# test = test.iloc[:,:24].drop(['TOKEN', 'index'], axis=1)
# test = test.drop(['TOKEN', 'index'], axis=1)

In [1415]:
# test.loc[test['NER'] != 0]

In [1416]:
# ['TOPIC_NUM',	'POST_NUM',	'TOKEN_NUM',	'GENDER',	'PERSON', 'TOKEN', 'TOKEN_VECT', 'IS_ANSWER', 'SENT_NUM', 'HEAD_VECT', 'HEAD_CHILDS_VECT', 
#  'index', 'HEAD_ANIMACY',	'HEAD_CASE',	'HEAD_GENDER', 'ANIMACY',	'CASE',	'POS',	'DEPENDENCY',	'HEAD',	'HEAD_POS']

In [1417]:
# best set

# X, y, X_test, y_test = train.drop(['TOKEN',  'HEAD_VECT', 'POST_NUM', 'IS_ANSWER', 'PERSON', 'HEAD_CHILDS_VECT', 'TOPIC_NUM', 'CASE', 'SENT_NUM', 'DEPENDENCY',  'index', 'HEAD_ANIMACY',	'HEAD_CASE',	'HEAD_GENDER', 'ANIMACY',				'HEAD',	'HEAD_POS'], axis=1).iloc[:,:18], \
# train.COREFERENCE_CLUSTER, test.drop(['TOKEN',  'HEAD_VECT', 'POST_NUM', 'IS_ANSWER', 'PERSON', 'HEAD_CHILDS_VECT', 'TOPIC_NUM', 'CASE', 'SENT_NUM', 'DEPENDENCY',    'index', 'HEAD_ANIMACY',	'HEAD_CASE',	'HEAD_GENDER', 'ANIMACY',			'HEAD',	'HEAD_POS'], axis=1).iloc[:,:18], test.COREFERENCE_CLUSTER

Делаем наборы для обучения моделей.

In [1418]:
X, y, X_test, y_test = train.drop(['TOKEN',  'HEAD_VECT', 'POST_NUM', 'IS_ANSWER', 'PERSON', 'HEAD_CHILDS_VECT', 'TOPIC_NUM', 'CASE', 'SENT_NUM', 'DEPENDENCY',  'index', 'HEAD_ANIMACY',	'HEAD_CASE',	'HEAD_GENDER', 'ANIMACY',				'HEAD',	'HEAD_POS'], axis=1).iloc[:,:18], \
train.COREFERENCE_CLUSTER, test.drop(['TOKEN',  'HEAD_VECT', 'POST_NUM', 'IS_ANSWER', 'PERSON', 'HEAD_CHILDS_VECT', 'TOPIC_NUM', 'CASE', 'SENT_NUM', 'DEPENDENCY',    'index', 'HEAD_ANIMACY',	'HEAD_CASE',	'HEAD_GENDER', 'ANIMACY',			'HEAD',	'HEAD_POS'], axis=1).iloc[:,:18], test.COREFERENCE_CLUSTER

In [1419]:
# X, y, X_test, y_test = train.drop(['TOKEN', 'index'], axis=1).iloc[:,:24], train.COREFERENCE_CLUSTER, test.drop(['TOKEN', 'index'], axis=1).iloc[:,:24], test.COREFERENCE_CLUSTER

In [1420]:
X

     TOKEN_VECT  TOKEN_NUM  GENDER  POS  SENT_VECT  NER  COREFERENCE_CLUSTER
0      0.519055        221       0    5   0.743045  3.0                218.0
1      0.584090         84      -1   -1   0.615114  2.0                  0.0
2      0.454605         35      -1   16   0.525582  2.0                  0.0
3      0.457997         62      -1   11   0.600316  2.0                  6.0
4      0.471790       1660       1    5   0.739101  3.0               1657.0
..          ...        ...     ...  ...        ...  ...                  ...
226    0.476860       1568       1    5   0.616808  3.0               1582.0
227    0.525897        320       0    1   0.641136  2.0                663.0
228    0.468716        732       0    1   0.435643  2.0                  0.0
229    0.525897       2721       0    1   0.703564  2.0               2711.0
230    0.525897        635       0    1   0.593342  2.0                  0.0

[231 rows x 7 columns]

In [1421]:
X_test.head(10)

   TOKEN_VECT  TOKEN_NUM  GENDER  POS  SENT_VECT  NER  COREFERENCE_CLUSTER
0    0.468716       1789       0    1   0.673832  2.0               1795.0
1    0.464472        372       0    1   0.502091  2.0                388.0
2    0.556986        241       1    1   0.564593  2.0                  0.0
3    0.589178       1134       0    1   0.493534  2.0                  0.0
4    0.525897        324       0    1   0.713328  2.0                319.0
5    0.406463         72       2    1   0.584244  2.0                  0.0
6    0.459385       1032       0    1   0.497320  2.0               1081.0
7    0.505452        512       0    5   0.484634  3.0                507.0
8    0.525897        265       0    1   0.625485  2.0                287.0
9    0.525897       3113       0    1   0.519936  2.0               3125.0

In [1422]:
y

0       218.0
1         0.0
2         0.0
3         6.0
4      1657.0
        ...
226    1582.0
227     663.0
228       0.0
229    2711.0
230       0.0
Name: COREFERENCE_CLUSTER, Length: 231, dtype: float64

Обучаем модели.

In [1423]:
clf = tree.DecisionTreeClassifier(max_depth=2000, )
clf.fit(X, y)
clf.score(X_test, y_test)

0.603448275862069

In [1424]:
clf_entropy = tree.DecisionTreeClassifier(criterion='entropy', max_depth=2000)
clf_entropy.fit(X, y)
clf_entropy.score(X_test, y_test)

0.6379310344827587

In [1425]:
randf_clf = RandomForestClassifier(max_depth=3000, n_estimators=600, bootstrap=True, )
randf_clf.fit(X, y)
randf_clf.score(X_test, y_test)

0.5344827586206896

In [1426]:
regr = linear_model.LinearRegression()
regr.fit(X, y)
regr.score(X_test, y_test)

1.0

In [1427]:
from sklearn import svm

In [1428]:
svm_clf = svm.SVC(decision_function_shape='ovo', cache_size=500)
svm_clf.fit(X, y)
svm_clf.score(X_test, y_test)

0.39655172413793105

In [1429]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf = KNeighborsClassifier(n_neighbors=7, weights='distance',algorithm='ball_tree',leaf_size=40, metric='minkowski', p=1).fit(X, y)
knn_clf.score(X_test, y_test)

0.6724137931034483

In [1430]:
# from sklearn.naive_bayes import MultinomialNB
# naive_clf = MultinomialNB().fit(X, y)

# **ОЦЕНКА МОДЕЛЕЙ**

In [1431]:
def my_eval(X_predicted, y):
  
  tp = []
  fp = []
  tn = []
  fn = []

  for i in range(len(X_predicted)):
    if X_predicted[i] != 0.0:
      if X_predicted[i] == y_test[i]:
        tp.append(i)
      else:
        fp.append(i)
    # берем только те синглтоны, которые относятся к номинативным или прономинальным группам.
    elif X_predicted[i] == 0.0 and test.iloc[:,22:23].iloc[[i]].values[0][0] in (2.0, 3.0):
      if X_predicted[i] == y_test[i]:
        tn.append(i)
      else:
        fn.append(i)
  try:
    P = len(tp)/(len(tp) + len(fp))
  except ZeroDivisionError:
    P = 0
  try:
    R = len(tp)/(len(tp) + len(fn))
  except ZeroDivisionError:
    R = 0
  try:
    F = 2*P*R/(P+R)
  except ZeroDivisionError:
    F = 0

  print(len(tp), ' true positive')
  print(len(fp), ' false positive')
  print(len(tn), ' true negative')
  print(len(fn), ' false negative')
  print('---------')
  print(P,' presicion')
  print(R, ' recall')
  print(F, ' f-score')

In [1432]:
pred = clf.predict(X_test)
pred_randf = randf_clf.predict(X_test)
pred_entropy = clf_entropy.predict(X_test)
pred_regr = regr.predict(X_test)
pred_svm = svm_clf.predict(X_test)
pred_knn = knn_clf.predict(X_test)
# naive_pred = naive_clf.predict(X_test)

In [1433]:
# my_eval(list(naive_pred), list(y_test))

In [1434]:
my_eval(list(pred_knn), list(y_test))

17  true positive
17  false positive
22  true negative
2  false negative
---------
0.5  presicion
0.8947368421052632  recall
0.6415094339622641  f-score

In [1435]:
my_eval(list(pred_entropy), list(y_test))

14  true positive
20  false positive
23  true negative
1  false negative
---------
0.4117647058823529  presicion
0.9333333333333333  recall
0.5714285714285713  f-score

In [1436]:
my_eval(list(pred), list(y_test))

12  true positive
22  false positive
23  true negative
1  false negative
---------
0.35294117647058826  presicion
0.9230769230769231  recall
0.5106382978723405  f-score

In [1437]:
my_eval(list(pred_randf), list(y_test))

8  true positive
26  false positive
23  true negative
1  false negative
---------
0.23529411764705882  presicion
0.8888888888888888  recall
0.3720930232558139  f-score

In [1438]:
my_eval(list(pred_regr), list(y_test))

2  true positive
56  false positive
0  true negative
0  false negative
---------
0.034482758620689655  presicion
1.0  recall
0.06666666666666667  f-score

In [1439]:
my_eval(list(pred_svm), list(y_test))

0  true positive
12  false positive
23  true negative
23  false negative
---------
0.0  presicion
0.0  recall
0  f-score